<div class="row">
    <div class="col-md-8">
        <mat-card>
            <div class="row">
                <div class="align-self-center col-md-7" style="max-height: 500px !important;">
                    <p-autoComplete id="productsearch" class="full-width m-1" placeholder="Please Enter Service Name" name="test" [minLength]="3">
                        <ng-template>
                            <span style="max-width:500px !important">
                                        </span>
                        </ng-template>
                    </p-autoComplete>
                </div>
                <div class="col-md-5 d-flex justify-content-end">
                    <!-- Buttons go here  -->
                    <button class="bg-primary text-white action-button m-1" mat-raised-button>
                    <span>
                        <i class="fa fa-history">
                            Park Sale
                        </i>
                    </span>
                </button>
                    <button class="bg-danger text-white action-button m-1" mat-raised-button data-toggle="modal" data-target="#deleteProduct">
                    <span>
                        <i class="fa fa-trash">
                            Discard Sale
                        </i>
                    </span>
                </button>
                    <button class="bg-primary text-white  action-button m-1" mat-raised-button>
                    <span>
                        <i class="fa fa-th">
                            No Sale
                        </i>
                    </span>
                </button>
                    <!-- <button class="bg-primary text-white  action-button m-1" mat-raised-button (click)="this.openSellCustomerView()">
                    <span>
                        <i class="fa fa-user">
                            Customer View
                        </i>
                    </span>
                </button> -->
                </div>
            </div>
        </mat-card>


        <div class="flex-container">
            <mat-card>
                <mat-card-title>
                    Products
                </mat-card-title>
                <button class="product-button" (click)="this.addProductForSale(i)" *ngFor="let prodcut of this.productListByCategory;let i = index" mat-raised-button>
                    {{prodcut.description}}
                    <p>$ {{prodcut.retail}}</p>
                </button>
            </mat-card>
        </div>

        <div class="flex-container">
            <mat-card>
                <mat-card-title>
                    Categories
                </mat-card-title>
                <button class="category-button" *ngFor="let category of this.categoryDto;let i = index" (click)="this.getProductByCategory(i)" mat-raised-button>
                {{category.name}}
            </button>
            </mat-card>
        </div>
    </div>
    <div class="col-md-4">
        <mat-card>
            <!-- Product Table -->
            <p-dataTable [value]="this.transactionLineItemDaoList" scrollable="true" [responsive]="true" scrollHeight="300px" [editable]="true" (onEditComplete)="updateLineItemDetails($event)">
                <!-- <p-header>Product Sale Table</p-header> -->
                <p-column field="saleQuantity" header="Qty" [editable]="true" [style]="{'width':'10%','text-align':'center', 'overflow':'visible'}"></p-column>
                <p-column field="description" header="Description" [style]="{'width':'60%','text-align':'center', 'overflow':'visible'}"></p-column>
                <p-column field="totalProductPrice" header="Total" [style]="{'width':'20%','text-align':'center', 'overflow':'visible'}"></p-column>
                <p-column header="" styleClass="col-button" [style]="{'width':'10%','text-align':'center', 'overflow':'visible'}">
                    <ng-template let-product="rowData" pTemplate="body">
                        <button mat-button class="btn-red action-button-table" mat-button data-toggle="modal" data-target="#deleteProduct">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                    </ng-template>
                </p-column>

            </p-dataTable>



            <div class="row" style="margin-top: 30px">
                <div class="col-md-12">
                    <input [(ngModel)]="this.transactionNotes" class="form-control form-control-lg" type="text" placeholder="Add Sales Notes">
                </div>
            </div>

            <dl class="row">
                <dt class="">Sub-total</dt>
                <!-- <dd class="">{{this.transactionDtoList.subtotal | currency:'USD':'true'}}</dd> -->
            </dl>
            <dl class="row">
                <dt class="">
                        <a #discount id="discount-popover" href="javascript:void(0)" (click)="this.showPopover(discount)">
                            Discount
                        </a>
                    </dt>
                <!-- <dd class="">{{this.totalTransactionDiscount | currency:'USD':'true'}}</dd> -->
            </dl>
            <dl class="row">
                <dt>
                    <a  href="javascript:void(0)" (click)="this.manageTaxForTransaction()">
                            <!-- Tax ({{this.taxPercent}}%) -->
                    </a>
                    </dt>
                <!-- <dd class="">{{this.transactionDtoList.tax | currency:'USD':'true'}}</dd> -->
            </dl>
            <dl class="row">
                <dt class="">Quantity</dt>
                <!-- <dd class="">{{this.transactionDtoList.quantity}}</dd> -->
            </dl>

            <dl class="row">
                <dt class="">Total</dt>
                <!-- <dd class="">{{this.transactionDtoList.totalAmount | currency:'USD':'true'}}</dd> -->
            </dl>

            <button mat-raised-button type="button" data-toggle="modal" data-target="#paymentModel" style="width: 100%; font-size: 20px" class="btn btn-green btn-lg text-white m-md-1 p-md-2">
                    <div class="row p-md-1 font-weight-bold">
                        <div class="col-md-6 text-left">Payment</div>
                        <div class="col-md-6 text-right">$ 1299.99</div>
                    </div>
                </button>
        </mat-card>

    </div>
</div>