<mat-table #table [dataSource]="dataSource">
    <ng-container cdkColumnDef="id">
        <mat-header-cell *cdkHeaderCellDef> Name </mat-header-cell>
        <mat-cell *cdkCellDef="let data"> <b>{{data.name}}.</b>
        </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef> PhoneNo </mat-header-cell>
        <mat-cell *cdkCellDef="let data"> <b>{{data.email}}.</b>
        </mat-cell>
    </ng-container>
    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let data; columns: displayedColumns;"></mat-row>
</mat-table>