<!-- <mat-table #table [dataSource]="dataSource">
    <ng-container cdkColumnDef="id">
        <mat-header-cell *cdkHeaderCellDef> Name </mat-header-cell>
        <mat-cell *cdkCellDef="let data"> <b>{{data.name}}.</b>
        </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef> PhoneNo </mat-header-cell>
        <mat-cell *cdkCellDef="let data"> <b>{{data.email}}.</b>
        </mat-cell>
    </ng-container>
    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let data; columns: displayedColumns;"></mat-row>
</mat-table> -->

<div class="invoice-box" *ngIf="this.transactionDto">
    <table>
        <!-- <tr class="top"> -->
        <!-- <td colspan="2"> -->
        <!-- <table> -->
        <tr>
            <td class="title">
                <img src="/assets/image/Excellogo.png" style="width:100%; max-width:300px;">
            </td>

            <td style="text-align: right;">
                INVOICE #: {{this.transactionDto.transactionComId}}<br> CREATED: January 1, 2015<br> CREATED BY: ALOK PATEL
            </td>
        </tr>
    </table>

    <table>
        <tr class="information">
            <td>
                <table>
                    <tr>
                        <td>
                            EXCELL WIRELESS<br> 5955 JIMMY CARTER BLVD<br> NORCROSS ,GA - 30071 <br>USA
                        </td>

                        <td style="text-align: right;">
                            Acme Corp.<br> John Doe<br> john@example.com
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col" style="width: 70%;">DESCRIPTION</th>
                <th scope="col" style="width: 10%;">QTY</th>
                <th scope="col">RETAIL</th>
                <th scope="col" style="text-align: right;">AMOUNT</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let trans of this.transactionDto.transactionLineItemDaoList">
                <td>{{trans.description}}</td>
                <td>{{trans.saleQuantity}}</td>
                <td>{{trans.retail}}</td>
                <td style="text-align: right;">{{trans.totalProductPrice}}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <table>
        <tr class="subtotal-tr">
            <td>
                SUBTOTAL
            </td>
            <td style="text-align: right;">
                {{this.transactionDto.subtotal | currency:'USD':'true'}}
            </td>
        </tr>
        <tr class="subtotal-tr">
            <td>
                TAX
            </td>
            <td style="text-align: right;">
                {{this.transactionDto.tax | currency:'USD':'true'}}
            </td>
        </tr>
        <tr class="subtotal-tr">
            <td>
                DISCOUNT
            </td>
            <td style="text-align: right;">
                {{this.transactionDto.totalDiscount | currency:'USD':'true'}}
            </td>
        </tr>
        <tr class="subtotal-tr">
            <td>
                QUANTITY
            </td>
            <td style="text-align: right;">
                {{this.transactionDto.quantity}}
            </td>
        </tr>

        <tr class="subtotal-tr">
            <td>
                <h6>TOTAL</h6>
            </td>
            <td style="text-align: right;">
                <h6> {{this.transactionDto.totalAmount | currency:'USD':'true'}}</h6>
            </td>
        </tr>
        <tr class="subtotal-tr">
            <td>
                <h6>BALANCE DUE</h6>
            </td>
            <td style="text-align: right;">
                <h6> {{this.transactionDto.transactionBalance | currency:'USD':'true'}}</h6>
            </td>
        </tr>

    </table>

    <hr>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col" style="width: 40%;">Payment Method</th>
                <th scope="col" style="text-align: center;">Amount</th>
                <th scope="col" style="text-align: center;">Date</th>
                <th scope="col" style="text-align: center;">Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right;"></td>
            </tr>
        </tbody>
    </table>

    <table>
        <tr class="subtotal-tr">
            <td>
                <h5>TOTAL BALANCE DUE</h5>
            </td>
            <td style="text-align: right;">
                <h5> {{this.transactionDto.totalAmount | currency:'USD':'true'}}</h5>
            </td>
        </tr>
    </table>

    <hr>


</div>