<mat-card style="background: #f4f5f8;">
    <mat-card-title style="display: flex;justify-content: space-between;">
        <h3>
            Manage Payment
        </h3>
        <div>
            <div>
                Total Open Balance
            </div>
            <div>
                {{this.totalBalance | currency:'USD':'true'}}
            </div>
        </div>

    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <p-autoComplete id="customerSearch" [(ngModel)]="this.selectedCustomer" [field]="'name'" placeholder="Search Customer By Name / PhoneNo" [suggestions]="filteredCustomer" (completeMethod)="this.filterCustomers($event)" class="full-width" [minLength]="1"
                    (onSelect)="this.submitCustomer()" (onClear)="this.removeCustomerOnSale()">
                    <ng-template let-c pTemplate="item">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="width:32px;display:inline-block;margin:5px 0 2px 5px">{{c.name}}</div>
                            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{c.phoneNo}}</div>
                        </div>
                    </ng-template>

                </p-autoComplete>
            </div>
            <div class="col-md-6" style="display: flex;justify-content: flex-end;">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" (click)="getCustomerDetailBy('Today')">Today</button>
                    <button type="button" class="btn btn-secondary" (click)="getCustomerDetailBy('Week')">Week</button>
                    <button type="button" class="btn btn-secondary" (click)="getCustomerDetailBy('Month')">Month</button>
                    <button type="button" class="btn btn-secondary" (click)="getCustomerDetailBy('Year')">Year</button>
                    <button type="button" class="btn btn-secondary">Custom</button>
                </div>
            </div>
        </div>

        <form *ngIf="this.paymentForm != null" [formGroup]="paymentForm">

            <div class="row">
                <div class="col-md-3">
                    <div>
                        Payment Method
                    </div>
                    <div>
                        <select class="form-control" formControlName="paymentType" (change)="receiveAmount()">
                        <option selected>CASH</option>
                        <option>CREDIT</option>
                        <option>CHECK</option>
                        <!-- <option>Debit</option> -->
                        <option>STORE CREDIT</option>
                        <option>OTHER</option>
                    </select>
                    </div>

                </div>
                <div class="col-md-3">
                    <div>
                        Reference No
                    </div>
                    <div>
                        <input type="text" class="form-control" formControlName="referenceNo">
                    </div>
                </div>

                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    <div>
                        Amount Received
                    </div>
                    <div>
                        <input type="number" class="form-control" formControlName="paymentAmount" (change)="receiveAmount()">
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <!-- <form *ngIf="this.invoiceTableForm != null" [formGroup]="invoiceTableForm"> -->
        <div class="row">
            <div>
                <h5>Outstanding Transactions</h5>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Invoice No</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Original Amount</th>
                        <th scope="col">Open Balance</th>
                        <th scope="col">Payment Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let opneInvoice of this.openInvoiceList;let index = index;">
                        <td>{{opneInvoice.transactionComId}}</td>
                        <td>{{opneInvoice.onlyDate}}</td>
                        <td>{{opneInvoice.time}}</td>
                        <td>{{opneInvoice.totalAmount | currency:'USD':'true'}}</td>
                        <td>{{opneInvoice.transactionBalance | currency:'USD':'true'}}</td>
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="opneInvoice.paymentTableAmount">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-10">

            </div>

            <div class="col-md-2">
                <button mat-raised-button class="btn btn-green" style="width: 100%" (click)="this.submitPayment()">
                        Save Payment
                    </button>
            </div>
        </div>

        <!-- </form> -->

    </mat-card-content>
</mat-card>