<mat-card>
    <mat-card-title>
        <h4>Product Inventory</h4>
    </mat-card-title>
    <mat-card-content>
        <div class="row d-flex align-items-center">
            <div class="col-md-3">
                <!-- <p-autoComplete [(ngModel)]="productFilterBox" styleClass="wid100" [suggestions]="backendProductDto" (completeMethod)="filterProducts($event)" name="test" [minLength]="1" (keyup.enter)="submitProduct(p)"
                        field="description">
                    </p-autoComplete> -->

                <input class="form-control " [formControl]="this.searchProductTextBox" type="text" placeholder="Search By Product No/ Description">
            </div>

            <div class="col-md-2">
                <select class="form-control" [(ngModel)]="this.selectedProductDropdownOption" (change)="onProductDropdownChoose()">
                        <option>Select All</option>
                        <option>Brand</option>
                        <option>Category</option>
                        <option>Vendor</option>
                    </select>

            </div>
            <div class="col-md-2">
                <select *ngIf="this.listOfProductOption != null" class="form-control " #dropdown (change)="fiterProductByDropdown(dropdown.value)">
                        <option [value]="-1">All {{this.selectedProductDropdownOption}}</option>
                        <option *ngFor="let option of this.listOfProductOption" [value]="option.id">
                            {{option.name}}
                        </option>
                    </select>
            </div>

            <div class="col-md-5 d-flex align-items-center justify-content-end">
                <button type="button" mat-raised-button class="bg-primary text-white action-button-lg" style="margin-right: 15px" [routerLink]="['/product/add']">
                        <i class="fa fa-plus-square" aria-hidden="true" label="Add"></i>
                        Add Product
                    </button>

                <button type="button" mat-raised-button class="bg-primary text-white action-button-lg" [routerLink]="['/product/addInventory']">
                        <i class="fa fa-plus-square" aria-hidden="true" label="Add"></i>
                        Add Inventory
                    </button>

            </div>


        </div>
        <div class="row">
            <div class="col-md-12 p-md-3">

                <!-- <p-header>Product Details</p-header> -->
                <p-dataTable [value]="this.productViewList" [editable]="true" scrollable="true" virtualScroll="virtualScroll" [rows]="this.rowsToShow" [lazy]="true" [totalRecords]="this.totalNumberProducts" [responsive]="true" scrollHeight="400px" (onEditComplete)="this.updateRetailPrice($event)"
                    (onLazyLoad)="loadProductsLazy($event)">
                    <p-column [style]="{'width': '10%'}" field="productId" header="Product Number" filterPlaceholder="Search For Product Name"></p-column>
                    <p-column [style]="{'width': '30%', 'text-align': 'left'}" field="description" header="Description" [sortable]="true"></p-column>
                    <!-- <p-column [style]="{'width': '10%'}" field="categoryName" header="Category" [sortable]="true"></p-column> -->
                    <p-column  [style]="{'width': '10%'}" field="cost" header="Cost" [sortable]="true">
                        <ng-template let-product="rowData" pTemplate="body">
                            <a href="JavaScript:void(0);" (click)="setProductInventoryForSelectedProduct(product, true)"> Click To View </a>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'width': '10%'}" field="retail" header="Retail">
                        <!-- <ng-template let-product="rowData" pTemplate="body">
                            <a> {{product.retail | currency:'USD':'true'}}</a>
                        </ng-template> -->

                        <ng-template let-product="rowData" pTemplate="body">
                            <a href="JavaScript:void(0);" (click) = "this.setProductInventoryForSelectedProduct(product,false)">{{product.tier1}} , {{product.tier2}} , {{product.tier3}}  </a>
                        </ng-template>

                    </p-column>
                    <p-column [style]="{'width': '8%'}" field="quantity" header="Quantity" [sortable]="true">
                        <ng-template let-product="rowData" pTemplate="body">
                            <a href="JavaScript:void(0);" (click)="setProductInventoryForSelectedProduct(product, true)"> {{product.quantity}} </a>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'width': '23%'}" field="action" header="Action" [sortable]="true">
                        <ng-template let-product="rowData" pTemplate="body" class="m-auto">
                            <button class="btn-blue action-button-table" mat-button [routerLink]="['/product/edit', {productNo: product.productId}]">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            <button mat-button class="btn-red action-button-table" mat-button (click)="this.setProductToDelete(product)" data-toggle="modal" data-target="#deleteProduct">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            <button mat-button class="btn-green action-button-table" mat-button (click)="this.setProductForHistory(product)" data-toggle="modal" data-target="#productHistoryModel">
                                    <i class="fa fa-history" aria-hidden="true"></i>
                                </button>
                            <button mat-button class="btn-gray action-button-table" mat-button data-toggle="modal" data-target="#productHistoryModel">
                                    <i class="fa fa-barcode" aria-hidden="true"></i>
                                </button>

                        </ng-template>
                    </p-column>
                </p-dataTable>



                <!-- <table class="table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product No</th>
                            <th>Description</th>
                            <th>Cost</th>
                            <th>Retail</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of this.backendProductDto">
                            <td>{{product.productNo}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.cost}}</td>
                            <td>{{product.retail}}</td>
                            <td>{{product.quantity}}</td> -->
                <!-- <td>
                                <button class="btn-blue action-button-table" mat-button [routerLink]="['/product/edit', {productNo: product.productNo}]">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                <button mat-button class="btn-red action-button-table" mat-button (click)="this.setProductToDelete(product)" data-toggle="modal" data-target="#deleteProduct">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <button mat-button class="btn-green action-button-table" mat-button (click)="this.setProductForHistory(product)" data-toggle="modal" data-target="#productHistoryModel">
                                    <i class="fa fa-history" aria-hidden="true"></i>
                                </button>
                                <button mat-button class="btn-gray action-button-table" mat-button data-toggle="modal" data-target="#productHistoryModel">
                                    <i class="fa fa-barcode" aria-hidden="true"></i>
                                </button>
                            </td> -->
                <!-- </tr>

                    </tbody>
                </table> -->



            </div>
        </div>

    </mat-card-content>
</mat-card>
<!-- <p-growl [(value)]="msgs"></p-growl> -->


<!-- Start Of Product History model -->


<div class="modal fade" id="productHistoryModel" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Product History</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div style="display:flex; justify-content: space-between;">
                    <!-- <div class="col-md-4"> -->

                        <mat-slide-toggle
                        class="example-margin"
                        [color]="color"
                        [checked]="checked"
                        [disabled]="disabled">
                      Show RMA!
                    </mat-slide-toggle>
                    <div> <select class="form-control form-control-lg" [(ngModel)]="this.productHistoryDropDown" (change)="this.getProductHistory()">
                            <option>Today</option>
                            <option>Yesterday</option>
                            <option>This Week</option>
                            <option>Last Week</option>
                            <option>This Month</option>
                            <option>Last Month</option>
                            <option>Last 3 Months</option>
                            <option>Last 6 Months</option>
                            <option>This Year</option>
                            <option>Last Year</option>
                            <option>Custom</option>

                        </select>
                    </div>


                    <!-- </div> -->

                    <div>
                        <h5>Total Number Of Product Sold: {{this.totalSaleQuantity}}</h5>
                    </div>

                </div>

                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>TransId</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Product No</th>
                                <th>Product Sold</th>
                                <th>Cost</th>
                                <th>Retail</th>
                                <th>Customer</th>
                                <th>Employee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of this.productHistoryDto">
                                <td>{{product.transactionComId}}</td>
                                <td>{{product.date}}</td>
                                <td>{{product.time}}</td>
                                <td>{{product.productNo}}</td>
                                <td>{{product.saleQuantity}}</td>
                                <td>{{product.cost}}</td>
                                <td>{{product.retail}}</td>
                                <td>{{product.customerFirstLastName}}</td>
                                <td>{{product.username}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>


    </div>

</div>

<!-- End of Prodcut Histoty Model -->

<!-- Start of Delete product up -->
<div class="modal fade" id="deleteProduct" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Product</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete This Product</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteProduct()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Delete product up -->


<!-- Start Of Cost price and Quantity model -->
<div class="modal fade" id="productInventory" role="dialog" (keyup.enter)="this.hideProductModal()">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Product Inventory</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" [(ngModel)]="this.cost" type="number" placeholder="Cost">
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" [(ngModel)]="this.quantity" type="number" placeholder="Quantity">
                    </div>
                    <div class="col-md-4">
                        <button type="button" mat-raised-button class="bg-primary text-white" style="width: 100%;" (click)="this.addProductInventory()" data-dismiss="modal">
                                <i class="fa fa-plus-square" aria-hidden="true" label="Add"></i>
                                Add Product Inventory
                        </button>
                    </div>

                </div>
                <div class="row p-3">
                    <p-dataTable [value]="this.productInventoryList" [editable]="true" scrollable="true" [responsive]="true" scrollHeight="300px" (onEditComplete)="this.updateProductInventory($event)">
                        <p-column field="cost" header="Cost" [editable]="true">
                            <ng-template let-product="rowData" pTemplate="body">
                                {{product.cost | currency:'USD':'true'}}
                            </ng-template>
                        </p-column>

                        <p-column field="quantity" header="Quantity" [editable]="true"></p-column>

                        <p-column field="date" header="Date"></p-column>

                        <p-column field="time" header="Time"></p-column>

                    </p-dataTable>
                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>


    </div>

</div>
<!-- Start Of Cost price and Quantity model -->

<!-- Start Of Retail Tier Model -->
<div class="modal fade" id="retailTier" role="dialog" (keyup.enter)="this.hideProductModal()">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Manage Retail Tier Price</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="row">
                        <p-dataTable [value]="this.productInventoryList" [editable]="true" scrollable="true" [responsive]="true" scrollHeight="300px" (onEditComplete)="this.updateProductVariantRetailTierPrice($event)">
                                <p-column field="tier1" header="Tier1" [editable]="true"></p-column>
                                <p-column field="tier2" header="Tier2" [editable]="true"></p-column>
                                <p-column field="tier3" header="Tier3"[editable]="true"></p-column>
        
                            </p-dataTable>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>


    </div>

</div>
 <!-- End Of Retail Tier Model -->