<mat-card>
    <mat-card-title>
        Add Product Inventory
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col-lg-5">
                <select class="form-control form-control" [(ngModel)]="this.selectedVendor" (change)="onVendorChoose()">
                                <option>Please Select Vendor</option>
                             <option *ngFor="let vendor of this.vendorDto">
                                 {{vendor.name}}
                             </option>
                            </select>
            </div>
            <div class="col-lg-7">

                <p-autoComplete [(ngModel)]="p" class="full-width m-1" [suggestions]="product" placeholder="Scan or Search Product" (completeMethod)="filterProducts($event)" name="test" [minLength]="3" (keyup.enter)="submitProduct(p)" field="description">
                </p-autoComplete>
                <span style="margin-left:10px"></span>

                <!-- <button type="button " (click)="this.test(10)" class="btn btn-success ">Add Product</button> -->
            </div>

        </div>

        <div class="row">
            <!-- Product Table -->
            <p-dataTable [value]="this.productInventotyList" scrollable="true" [responsive]="true" scrollHeight="300px" [editable]="true" (onEditComplete)="updateInventoryDetails($event)">
                <p-header>Add Product Inventory Table</p-header>

                <p-column field="productNo" header="ProductNo" [style]="{'width':'15%','text-align':'center', 'overflow':'visible'}"></p-column>
                <p-column field="description" header="Description" [style]="{'width':'50%','text-align':'center', 'overflow':'visible'}"></p-column>
                <p-column field="defaultQuantity" header="Quantity" [editable]="true"></p-column>
                <p-column field="cost" header="Cost" [editable]="true"></p-column>
                <p-column field="retail" header="Retail" [editable]="true"></p-column>
                <p-column field="quantity" header="In-Stock"></p-column>
                <p-column field="totalProductPrice" header="Total"></p-column>
                <p-column header="" styleClass="col-button" [style]="{'width':'3%','text-align':'center', 'overflow':'visible'}">
                    <!-- <ng-template pTemplate="header">
                                    <button type="button" pButton icon="fa-refresh"></button>
                                </ng-template> -->
                    <ng-template let-product="rowData" pTemplate="body">

                        <button mat-button class="btn-red action-button-table" mat-button (click)="this.setProductForDelete(product)" data-toggle="modal" data-target="#removeProductInventory">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                    </ng-template>
                </p-column>


            </p-dataTable>
        </div>
    </mat-card-content>

    <mat-card-footer class="d-flex justify-content-md-center">

        <button class="bg-danger text-white m-3 action-button-lg" mat-raised-button data-toggle="modal" data-target="#removeProductInventory" (click)="this.setHeaderForRemoveAllInventoryProduct()">
                    <i class="fa fa-trash">
                        Remove All Products
                    </i>
                </button>

        <button class="bg btn-green text-white m-3 action-button-lg" mat-raised-button data-toggle="modal" data-target="#removeProductInventory" (click)="this.setHeaderForAddProductInventory()"> 
                        <i class="fa fa-paper-plane" aria-hidden="true" >
                                Add All Products
                        </i>
                     
                </button>
    </mat-card-footer>
</mat-card>




<!-- Start of Product and Sale discard Pop up -->

<div class="modal fade" id="removeProductInventory" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{this.popupHeader}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>{{this.popupMessage}}</p>
            </div>
            <div class="modal-footer">

                <!-- This logic to reuse the model code cause i need popup for delete single product and also delete complete sale -->
                <button *ngIf="this.popupHeader == 'Remove Product Inventory' " type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteProduct()">Yes</button>
                <button *ngIf="this.popupHeader == 'Remove All Products Inventory'" type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.removeAllProductInventory()">Yes</button>

                <button *ngIf="this.popupHeader == 'Add All Product Inventory' " type="button" class="btn btn-success" data-dismiss="modal" (click)="this.addProductInventoryToBackEnd()">Yes</button>

                <!-- TODO Add one more button for add product if it does not exists -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Product and Sale discard Pop up -->