<mat-card>
    <mat-card-title>
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h4>Customer Payment History</h4>
            </div>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col-md-2">
                <p-dataTable [value]="this.customerDto" scrollable="true" [responsive]="true" scrollHeight="500px" selectionMode="single" (onRowSelect)="onRowSelectFromCustomer($event)">
                    <p-column [style]="{'text-align': 'left'}" field="name" header="Name" filterPlaceholder="Search For Customer Name" [filter]="true"></p-column>
                    <!-- <p-column field="balance" header="Balance" [sortable]="true" [filter]="true"></p-column> -->
                </p-dataTable>
            </div>
            <div class=col-md-10>
                <mat-tab-group>
                    <mat-tab label="Transaction Details">

                        <table>
                            <thead>
                                <tr>
                                    <th>Receipt Id</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Total Amount</th>
                                </tr>
                            </thead>

                            <tbody>
                                <ng-container *ngFor="let trans of this.transactionList">
                                    <tr>
                                        <td>
                                            <button (click)="openCloseRow(trans.transactionComId)">
                                                        <span *ngIf="rowSelected!=trans.transactionComId; else close">Open</span>
                                                          <ng-template #close>
                                                            <span>Close</span>
                                                            </ng-template>
                                                    </button>
                                        </td>
                                        <td>{{trans.transactionComId}}</td>
                                        <td>{{trans.onlyDate}}</td>
                                        <td>{{trans.totalAmount}}</td>
                                    </tr>
                                    <tr *ngIf="rowSelected==trans.transactionComId">
                                        <td></td>
                                        <td colspan="4">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width:15%;">Comment</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let payment of trans.paymentDao">
                                                        <td style="width:15%;">{{payment.transactionComId}}</td>
                                                        <td style="width:15%;">{{payment.cash}}</td>
                                                        <td style="width:15%;">{{payment.credit}}</td>
                                                        <td style="width:15%;">{{payment.debit}}</td>
                                                        <td style="width:15%;">{{payment.check}}</td>




                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>

                                    </tr>



                                </ng-container>
                            </tbody>
                        </table>


                        <!-- 
                        <div class="panel panel-default">
                   
                            <div class="panel-body">
                                <table class="table table-condensed" style="border-collapse:collapse;">
                                    <thead>
                                        <tr>
                                            <th>Receipt Id</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>

                                 <tbody>
                                        <ng-container *ngFor="let trans of this.transactionList let i = index">

                                            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                                <td><a >{{trans.transactionComId}}</a></td>
                                                <td>{{trans.onlyDate}}</td>
                                                <td>{{trans.time}}</td>
                                                <td>{{trans.totalAmount}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="">
                                                    <div class="" id="demo1">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <th>Date</th>
                                                                <th>Time</th>
                                                                <th>Cash </th>
                                                                <th> Credit</th>
                                                                <th> Debit</th>
                                                                <th>Check</th>
                                                                <th>Store Credit</th>
                                                            </thead>
                                                            <tbody>
                                                                <ng-container *ngFor="let payment of trans.paymentDao let j = index">

                                                                    <tr>
                                                                        <td>{{payment.date}}</td>
                                                                        <td>{{payment.date}}</td>
                                                                        <td>{{payment.cash}}</td>
                                                                        <td>{{payment.credit}}</td>
                                                                        <td>{{payment.debit}}</td>
                                                                        <td>{{payment.check}}</td>
                                                                        <td>{{payment.storeCredit}}</td>

                                                                    </tr>
                                                                </ng-container>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </td>
                                            </tr>

                                        </ng-container> 
                                    </tbody>
                                </table>
                            </div>

                        </div> -->


                    </mat-tab>
                    <mat-tab label="Customer Details">
                        Customer Details
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-card-content>
</mat-card>