<div class="">

    <p-growl [(value)]="msgs"></p-growl>
    <mat-card>
        <mat-card-title>
            <h4>
                Model Details
            </h4>
        </mat-card-title>
        <mat-card-content>
            <div class="row d-flex align-items-center justify-content-end">
                <div class="col-md-6"></div>
                <div class="col-md-6 d-flex justify-content-end">
                    <button type="button" mat-raised-button class="bg-primary text-white action-button-lg" (click)="showDialogToAdd()">
                                <i class="fa fa-plus-square" aria-hidden="true" label="Add"></i>
                                Add Model
                            </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-md-3">
                    <!-- <p-header>Category Details</p-header> -->
                    <p-dataTable [value]="this.modelDto" scrollable="true" scrollHeight="500px" [responsive]="true" [editable]="true" (onEditComplete)="this.updateModel($event)">
                        <p-column field="index" header="Index" [sortable]="true"></p-column>
                        <p-column field="name" header="Model Name" filterPlaceholder="Search For Model Name" [filter]="true" [editable]="true"></p-column>
                        <p-column field="description" header="Model Description" [sortable]="true" [editable]="true"></p-column>
                        <p-column field="noOfProduct" header="No Of Prodcuts" [sortable]="true"></p-column>
                        <p-column field="action" header="Action" [style]="{'width': '5%'}">
                            <ng-template let-model="rowData" pTemplate="body" class="m-auto">
                                <button class="btn-red action-button-table" mat-button data-toggle="modal" data-target="#deleteCategory" (click)="this.setModelForDelete(model)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </div>

                <form *ngIf="this.modelForm != null" [formGroup]="this.modelForm">

                    <p-dialog header="Add Model" appendTo="body" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
                        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="model">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4">
                                    <label for="name">Name:</label>
                                </div>
                                <div class="ui-grid-col-8">
                                    <input class="form-control" formControlName="name" />
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4">
                                    <label for="description">Description:</label>
                                </div>
                                <div class="ui-grid-col-8">
                                    <input class="form-control" formControlName="description" />
                                </div>
                            </div>
                        </div>
                        <p-footer>
                            <div style="text-align: center">
                                <button type="button" class="btn btn-success" (click)="this.addModel()" [disabled]="this.modelForm.invalid">
                                        <i class="fa fa-paper-plane" aria-hidden="true" ></i>
                                Add Model
                            </button>
                            </div>
                        </p-footer>
                    </p-dialog>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

</div>



<!-- Start of Delete Model Popup -->
<div class="modal fade" id="deleteCategory" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete This Category</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteModel()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Delete Model Popup -->