<div class="">
    <app-top-sub-navbar [menu]="this.items" ></app-top-sub-navbar>
    <div class="">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- DO NOT DELETE THIS -->
<!-- <div class="col-md-2">
            <a href="/addProduct">
                <button type="button" class="btn btn-primary btn-lg active">
                <i class="fa fa-plus-square" aria-hidden="true" label="Add"></i>
                Add Prodcut
            </button>
            </a>
        </div> -->


<!-- </div> -->