<mat-card>
    <mat-card-title>
        <div class="row">
            <div class="col-md-7">
                <h4>Retail Dashboard</h4>
            </div>
            <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" (click)="getDashboardDetailBy('Today')">Today</button>
                    <button type="button" class="btn btn-secondary" (click)="getDashboardDetailBy('Week')">Week</button>
                    <button type="button" class="btn btn-secondary" (click)="getDashboardDetailBy('Month')">Month</button>
                    <button type="button" class="btn btn-secondary" (click)="getDashboardDetailBy('Year')">Year</button>
                    <button type="button" class="btn btn-secondary" (click)="getDashboardDetailBy('Custom')">Custom</button>
                </div>

            </div>

            <div style="padding-left: 0px" *ngIf="this.isCustomDate" class="col-md-2 form-group d-flex align-items-center" [formGroup]="this.customDate">

                <mat-form-field class="float-never col-md-6">
                    <input formControlName="fromDate" matInput [matDatepicker]="fromDate" placeholder="Start Date" [max]="this.currentDate">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
                <label class="text-center">To</label>
                <mat-form-field class="float-never col-md-6">
                    <input class="" formControlName="toDate" matInput [matDatepicker]="toDate" placeholder="End Date" [min]="this.customDate.get('fromDate').value" [max]="this.currentDate">
                    <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                    <mat-datepicker #toDate></mat-datepicker>
                </mat-form-field>
            </div>

        </div>

    </mat-card-title>

    <mat-card-content>
        <div class="row">
            <div class="col-md-12" *ngIf="this.numberCardChartData">
                <ngx-charts-number-card [view]="null" [results]="this.numberCardChartData" [scheme]="colorScheme" (select)="onSelect($event)">
                </ngx-charts-number-card>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6 example-container mat-elevation-z8">
                <h5 style="margin: 0 auto; height: 40px;  margin-top: 7.5px;">
                    Best Selling Products
                </h5>
                <div class="row" style="overflow: auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ProductNo</th>
                                <th scope="col">Description</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Retail</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of this.productDto">
                                <td style="width: 10%;">{{product.productNo}}</td>
                                <td style="width: 50%;">{{product.name}}</td>
                                <td>$ {{product.cost}}</td>
                                <td>$ {{product.retail}}</td>
                                <td>{{product.quantity}}</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6 example-container mat-elevation-z8">
                <h5 style="margin: 0 auto; height: 40px;  margin-top: 7.5px;">
                    Sales By Category Graph
                </h5>
                <div class="row" style="overflow: auto;">
                    <!-- <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="categoryPieChartData" [legend]="showLegend" [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient" (select)="onSelect($event)">
                    </ngx-charts-pie-chart> -->
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10">
                        <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="categoryPieChartData" (select)="onSelect($event)">
                        </ngx-charts-pie-grid>
                    </div>
                    <div class="col-md-1">

                    </div>


                </div>
            </div>
        </div>
        <!-- <div class="row">

            <div class="col-md-6 example-container mat-elevation-z8">
                <h5>Sales Year Over Year</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">This Year</th>
                            <th scope="col">Last Year</th>
                            <th scope="col">Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>


                    </tbody>
                </table>
            </div>
            <div class="col-md-6 example-container mat-elevation-z8">
                <h5>Sale Over Time</h5>
            </div>
        </div> -->
    </mat-card-content>


</mat-card>