<mat-card>
    <mat-card-title>

        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h4>Group Details</h4>
            </div>

            <div class="col-md-5 d-flex align-items-center justify-content-end">
                <button type="button" class="bg-primary text-white action-button-lg m-3" (click)="this.showDialogToAdd()">
                        <i class="fa fa-plus-square" aria-hidden="true" label="Add"></i>
                            Add Group
                </button>
            </div>

        </div>
    </mat-card-title>
    <mat-card-content>
    </mat-card-content>
</mat-card>


<!-- Start of Delete Customer Popup -->
<div class="modal fade" id="deleteCustomer" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Customer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete This Customer</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteCustomer()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Delete Customer Popup -->

<!-- start of add customer Group pop up -->
<div class="modal fade" id="addGroup" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Group</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Please Enter Group Name">
            </div>
            <div class="modal-footer">

                <button class="btn-red action-button-table" mat-button data-toggle="modal" data-target="#addGroup" (click)="this.addGroup()">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
            </div>
        </div>
    </div>
</div>

<!-- end of add customer Group pop up -->