<mat-card>
    <mat-card-title>
        <h4>Manage Phone</h4>
    </mat-card-title>
    <mat-card-content>
        <!-- <div class="row d-flex align-items-center"> -->
        <div class="row">
            <div class="col-md-3">
                <!-- <p-autoComplete [(ngModel)]="productFilterBox" styleClass="wid100" [suggestions]="backendProductDto" (completeMethod)="filterProducts($event)" name="test" [minLength]="1" (keyup.enter)="submitProduct(p)"
                        field="description">
                    </p-autoComplete> -->

                <input class="form-control" type="text" placeholder="Search By IMEI No Or Model Name">
            </div>

            <div class="col-md-2">
                <select class="form-control">
                        <option>Select All</option>
                        <option>Brand</option>
                        <!-- <option>Category</option> -->
                        <option>Vendor</option>
                        <option>Model</option>
                    </select>

            </div>
            <div class="col-md-2">
                <!-- <select *ngIf="this.listOfProductOption != null" class="form-control " #dropdown (change)="fiterProductByDropdown(dropdown.value)">
                        <option [value]="-1">All {{this.selectedProductDropdownOption}}</option>
                        <option *ngFor="let option of this.listOfProductOption" [value]="option.id">
                            {{option.name}}
                        </option>
                    </select> -->
            </div>

            <div class="col-md-5 d-flex align-items-center justify-content-end">
                <button type="button" mat-raised-button class="bg-primary text-white action-button-lg" style="margin-right: 15px" data-toggle="modal" data-target="#addPhone">
                        <i class="fa fa-plus-square" aria-hidden="true" label="Add"></i>
                        Add Phone
                    </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <table class="table table-hover table-bordered table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let phone of this.phoneDto">
                            <td (click)="this.setPhone(phone)" style="cursor: pointer;">{{phone.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-10">
                <mat-tab-group>
                    <mat-tab label="IMEI Details">
                        <form *ngIf="this.imeiForm != null" [formGroup]="imeiForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <input class="form-control" type="text" placeholder="Scan IMEI to add" formControlName="imei">
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control" name="vendor" formControlName="vendor">
                                            <option *ngFor = "let vendor of vendorDto" [ngValue]="vendor">
                                                {{vendor.name}}
                                                </option>
                                        </select>
                                </div>
                                <div class="col-md-1">
                                    <input class="form-control" type="text" placeholder="Cost" formControlName="cost">
                                </div>

                                <div class="col-md-1">
                                    <input class="form-control" type="text" placeholder="Retail" formControlName="retail">
                                </div>
                                <div class="col-md-1">
                                    <select class="form-control" name="color" formControlName="color">
                                            <option>Red</option>
                                            <option>Black</option>
                                            <option>Pink</option>
                                            <option>White</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <select class="form-control" name="memory" formControlName="memory">
                                        <option>8 GB</option>
                                        <option>16 GB</option>
                                        <option>64 GB</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" mat-raised-button class="text-white form-control" style="background:#28a745" (click)="this.addIMEI()">
                                            <i class="fa fa-plus-square" aria-hidden="true" label="Add"></i>
                                            Add IMEI
                                    </button>
                                </div>

                            </div>
                        </form>
                        <p-dataTable [value]="this.imeiDto" class="m-1" [editable]="true" scrollable="true" [responsive]="true" scrollHeight="300px" (onEditComplete)="this.updateImeiDetails($event)">
                            <p-column field="imei" header="IMEI" [editable]="true"></p-column>
                            <p-column field="vendorName" header="Vendor"></p-column>
                            <p-column field="cost" header="Cost" [editable]="true"></p-column>
                            <p-column field="retail" header="Retail" [editable]="true"></p-column>
                            <p-column field="date" header="Date"></p-column>
                            <p-column field="time" header="Time"></p-column>


                            <p-column field="" header="Action">
                                <ng-template let-imei="rowData" pTemplate="body" class="m-auto">

                                    <button mat-button class="btn-red action-button-table" mat-button (click)="this.setImeiToDelete(imei)" data-toggle="modal" data-target="#deleteImei">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                </ng-template>
                            </p-column>

                        </p-dataTable>
                        <!-- <p-table [columns]="cols" [value]="this.imeiDto" selectionMode="single" [(selection)]="this.selectedImei" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData">
                                    <td *ngFor="let col of columns">
                                        {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template> -->

                        <!-- <ng-template pTemplate="summary" let-rowData>
                                <div style="text-align:left">
                                    <button type="button" pButton icon="fa-plus" (click)="showDialogToAdd()" label="Add"></button>
                                </div>
                            </ng-template> -->

                        <!-- </p-table> -->
                        <!-- 
                        <p-table [value]="this.imeiDto">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>IMEI</th>
                                    <th>Vendor</th>
                                    <th>Cost</th>
                                    <th>Retail</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.imei">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.imei}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.vendorId" required>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.vendorId}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.cost">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.cost}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input type="text" [(ngModel)]="rowData.retail">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{rowData.retail}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table> -->



                    </mat-tab>
                    <mat-tab label="Phone Details">
                        Phone Details
                    </mat-tab>
                    <mat-tab label="IMEI Tracker">
                        IMEI Tracker
                    </mat-tab>
                </mat-tab-group>
                <!-- <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">IMEI</th>
                            <th scope="col">Vendor</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Retail</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>


        <!-- </div> -->
    </mat-card-content>
</mat-card>

<!-- Start Of payment model -->
<form *ngIf="this.phoneForm != null" [formGroup]="phoneForm">

    <div class="modal fade" id="addPhone" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Phone</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <mat-card>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row m-2">
                                        <div class="col-md-4 product-textbox">
                                            <label>Product No:</label>
                                        </div>

                                        <div class="col-md-5 product-textbox">
                                            <input type="text" class="form-control" formControlName="productNo" placeholder="Please Enter ProductNo">
                                            <!--<input type="submit" value="submit" [disabled]="!form.valid">-->
                                            <div *ngIf="phoneForm.get('productNo').hasError('required') && phoneForm.get('productNo').touched" class="alert alert-danger">
                                                *Required!!
                                            </div>
                                            <div *ngIf="phoneForm.get('productNo').hasError('pattern') && phoneForm.get('productNo').touched" class="alert alert-danger">
                                                *Value Not Alloewd</div>
                                        </div>

                                        <div class="col-md-3 product-textbox d-flex justify-content-end">
                                            <button class="btn-gray action-button" style="width: 100%" mat-raised-button (click)="getAutoGeneratedProductNo()">Generate</button>
                                        </div>
                                    </div>

                                    <div class="row m-2">

                                        <div class="col-md-4 product-textbox">
                                            <label class="control-label"> Description:</label>
                                        </div>

                                        <div class="col-md-8 product-textbox">
                                            <input type="text" class="form-control" style="text-transform:uppercase" formControlName="description" placeholder="Please Enter Description">
                                            <p *ngIf="phoneForm.get('description').hasError('required') && phoneForm.get('description').touched" class="alert alert-danger">
                                                *Required!!</p>
                                        </div>
                                    </div>
                                    <div class="row m-2">

                                        <div class="col-md-4 product-textbox">
                                            <label class="control-label">Brand Name:</label>
                                        </div>

                                        <div class="col-md-8 product-textbox">
                                            <select class="form-control" formControlName="brand" name="brand">
                                                            <option *ngFor = "let brand of brandDto" [ngValue]="brand">
                                                                {{brand.name}}
                                                            </option>
                                                        </select>
                                            <p *ngIf="phoneForm.get('brand').hasError('required')" class="alert alert-danger">
                                                *Required!!</p>
                                        </div>
                                    </div>

                                    <div class="row m-2">

                                        <div class="col-md-4 product-textbox">
                                            <label class="control-label"> Model Name:</label>
                                        </div>
                                        <div class="col-md-8 product-textbox">
                                            <select class="form-control" formControlName="model" name="model">
                                                            <option *ngFor = "let model of modelDto" [ngValue]="model">
                                                                {{model.name}}
                                                                </option>
                                                        </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <mat-card-footer>
                                <!--Submit button Row-->
                                <div class="d-flex p-md-3 justify-content-center">
                                    <button mat-raised-button class="bg-danger text-white m-2 action-button-lg" data-dismiss="modal">Cancel</button>
                                    <button mat-raised-button class="bg btn-green text-white m-2 action-button-lg" type="submit" (click)="this.addPhone()" [disabled]="phoneForm.invalid" data-dismiss="modal">
                                            <i class="fa fa-paper-plane" aria-hidden="true" ></i>
                                                Add Phone
                                        </button>
                                </div>
                            </mat-card-footer>
                        </mat-card-content>
                    </mat-card>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>


            </div>

        </div>
    </div>
</form>

<!-- Start of Delete product up -->
<div class="modal fade" id="deleteImei" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete IMEI</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete This IMEI</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteImei()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Delete product up -->