.borderless td,
.borderless th {
    border: none;
}

.a :hover {
    background: #3374C2;
}

// .wid100 {
//     width: 100% !important;
// }

.primary-button {
    background-color: #41AF4B;
    color: #FFF;
    height: 50px;
    width: 100%;
    font-size: 20px;
}

.danger-button {
    background-color: #dc3545;
    color: #FFF;
    height: 50px;
    width: 100%;
    font-size: 20px;
}

// .ui-autocomplete-panel {
//     max-width: 500px !important;
// }
.secondary-button {
    background-color: #6692B0;
    height: 50px;
    width: 100%;
    color: #FFF;
    font-size: 20px;
}

.customer td,
.customer th {
    padding: 10px 10px;
}

.customer dl.row {
    margin: 0px;
    // display: flex;
    // justify-content: space-between;
    // dt {
    //     text-align: left;
    // }
    // dd {
    //     text-align: right;
    //     margin: 0px;
    // }
}

.sales-total dl {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.quantity-updated {
    background: greenyellow;
    padding: 9px;
}

.modal-lg {
    max-width: 1080px;
}

.subtotal-tr {
    font-size: 16px;
}

.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 14px;
    line-height: 20px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    background: #FFFFFF;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.td-align-right {
    text-align: right;
}

.td-align-center {
    text-align: center;
}

// .invoice-box table tr td {  // Please do not use this.
//     text-align: right;
// }
// .invoice-box table tr.top table td {
//     padding-bottom: 20px;
// }
// .invoice-box table tr.top table td.title {
//     font-size: 45px;
//     line-height: 45px;
//     color: #333;
// }
.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.mat-button{
    min-width: 45px;
    border-radius: 20px;
}