<div class="row">
    <div class="col-md-8">
        <mat-card>
            <div class="row">
                <div class="align-self-center col-md-7" style="max-height: 500px !important;">
                    <!-- <p-autoComplete id="productsearch" [(ngModel)]="productForSearchBox" class="full-width m-1" [suggestions]="product" placeholder="Please Enter Service Name" (onFocus)="print($event)" (onBlur)="print($event)" (completeMethod)="filterProducts($event)" name="test"
                        [minLength]="3" (keyup.enter)="submitProduct(productForSearchBox)" field="description">
                        <ng-template>
                            <span style="max-width:500px !important">
                                </span>
                        </ng-template>
                    </p-autoComplete> -->

                    <p-autoComplete id="productsearch" [(ngModel)]="this.productForSearchBox" class="full-width m-1" [suggestions]="product"
                    placeholder="Scan or Search Product" (completeMethod)="filterProducts($event)" name="test" [minLength]="3" (keyup.enter)="submitProduct(productForSearchBox)"
                    (onSelect)="this.selectProductFromSearch(productForSearchBox)" field="description">
                    <ng-template>
                      <span style="max-width:500px !important">
                      </span>
                    </ng-template>
                  </p-autoComplete>
                </div>
                <div class="col-md-5 d-flex justify-content-end">
                    <!-- Buttons go here  -->
                    <button (click)="this.parkSale()" class="bg-primary text-white action-button m-1" mat-raised-button [disabled]="this.disablePaymentButtonOnSale">
                            <span>
                                <i class="fa fa-history">
                                    Park Sale
                                </i>
                            </span>
                        </button>
                    <button class="bg-danger text-white action-button m-1" mat-raised-button data-toggle="modal" data-target="#deleteProduct" (click)="this.setHeaderAndMessageForDisgardPopup()" [disabled]="this.disablePaymentButtonOnSale">
                            <span>
                                <i class="fa fa-trash">
                                    Discard Sale
                                </i>
                            </span>
                        </button>
                    <button class="bg-primary text-white  action-button m-1" mat-raised-button (click)="this.opneCashDrawer()">
                            <span>
                                <i class="fa fa-th">
                                    No Sale
                                </i>
                            </span>
                        </button>
                </div>
            </div>
        </mat-card>

        <div class="flex-container-product">
            <mat-card>
                <!-- <mat-card-title>
                    Products
                </mat-card-title> -->
                <button class="product-button" (click)="this.addProductForSale(i)" *ngFor="let prodcut of this.productListByCategory;let i = index" mat-raised-button>
                    <p>{{prodcut.description}}</p>
                    <h6>{{prodcut.retail | currency:'USD':'true'}}</h6>
                </button>
            </mat-card>
        </div>

        <div class="flex-container-category">
            <mat-card>
                <mat-card-title>
                    Categories
                </mat-card-title>

                <button class="category-button" (click)="this.getFavoriteProduct()" mat-raised-button>
                        <i class="fa fa-star" style = "color: orange"></i>
                        FAVORITE                        
                        <i class="fa fa-star" style = "color: orange"></i>

                </button>
                <button class="category-button" *ngFor="let category of this.categoryDto;let i = index" (click)="this.getProductByCategory(i)" mat-raised-button>
                {{category.name}}
            </button>

            </mat-card>
        </div>
    </div>
    <div class="col-md-4">
        <mat-card style="overflow-y: auto;">
            <!-- Customer Details -->
            <div *ngIf="showCustomerSearchBox" class="input-group customer-Header-textBox">
                <span class="input-group-addon" id="basic-addon1">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                 </span>

                <p-autoComplete id="customerSearch" [(ngModel)]="this.selectedCustomer" [field]="'name'" [suggestions]="filteredCustomer" placeholder="Please Enter Customer Name | Phone No" (completeMethod)="this.filterCustomers($event)" class="full-width" [minLength]="1"
                    (keyup.enter)="this.submitCustomer()" (onClear)="this.removeCustomerOnSale()">
                    <ng-template let-c pTemplate="item">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <div style="width:32px;display:inline-block;margin:5px 0 2px 5px">{{c.name}}</div>
                            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{c.phoneNo}}</div>
                        </div>
                    </ng-template>

                </p-autoComplete>
            </div>

            <div *ngIf="!showCustomerSearchBox" class="input-group customer-Header-without-textBox">
                <span class="input-group-addon" id="basic-addon1">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                 </span>
                <a *ngIf="this.selectedCustomer" href="javascript:void(0)" (click)="this.showCustomerDetailsPopup()" data-toggle="modal" data-target="#customerDetailsModel">
                        {{this.selectedCustomer.name}} | {{this.selectedCustomer.phoneNo}}
                </a>
                <button mat-button class="btn-red deleteButtonSaleTable" mat-button (click)="this.removeCustomerOnSale()">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>


            <br>
            <!-- Product Table -->
            <p-dataTable [value]="this.transactionLineItemDaoList" scrollable="true" [responsive]="true" scrollHeight="250px" [editable]="true" (onEditComplete)="updateLineItemDetails($event)">
                <!-- <p-header>Product Sale Table</p-header> -->
                <p-column field="saleQuantity" header="Qty" [editable]="true" [style]="{'width':'10%','text-align':'center', 'overflow':'visible'}"></p-column>
                <p-column field="description" header="Description" [style]="{'width':'60%','text-align':'center', 'overflow':'visible'}"></p-column>
                <p-column field="retailWithDiscount" header="Retail" [editable]="true" [style]="{'width':'20%','text-align':'center', 'overflow':'visible'}">
                    <ng-template let-product="rowData" pTemplate="body">
                        <div>
                            {{product.retailWithDiscount}}
                        </div>
                        <div *ngIf="product.retailWithDiscount < product.retail" style='color:red;text-decoration:line-through'>
                            {{product.retail}}
                        </div>


                    </ng-template>
                </p-column>
                <p-column header="" styleClass="col-button" [style]="{'width':'10%','text-align':'center', 'overflow':'visible'}">
                    <ng-template let-product="rowData" pTemplate="body">
                        <!-- <button class="btn-red" > -->
                        <i (click)="this.setProductForDelete(product)" style="color:red;" data-toggle="modal" data-target="#deleteProduct" class="fa fa-trash" aria-hidden="true"></i>
                        <!-- </button> -->
                    </ng-template>
                </p-column>

            </p-dataTable>

            <div class="row" style="margin-top: 30px">
                <ul class="sales-total">
                    <li class="sale-total-line sale-total-line-total">
                        <div>Sub-Total</div>
                        <div>{{this.transactionDtoList.subtotal | currency:'USD':'true'}}</div>
                    </li>
                    <li class="sale-total-line">
                        <div>
                            <a #discount id="discount-popover" href="javascript:void(0)" (click)="this.showPopover(discount)">
                                Discount
                            </a>
                        </div>
                        <div>{{this.totalTransactionDiscount | currency:'USD':'true'}}</div>
                    </li>
                    <li class="sale-total-line">
                        <div>
                            <a href="javascript:void(0)" (click)="this.manageTaxForTransaction()">
                                    Tax ({{this.taxPercent}}%)
                            </a>
                        </div>
                        <div>{{this.transactionDtoList.tax | currency:'USD':'true'}}</div>
                    </li>
                    <li class="sale-total-line">
                        <div>Quantity</div>
                        <div>{{this.transactionDtoList.quantity}}</div>
                    </li>
                    <li class="sale-total-line">
                        <div>Total</div>
                        <div>{{this.transactionDtoList.totalAmount | currency:'USD':'true'}}</div>
                    </li>

                </ul>
            </div>
        </mat-card>
        <mat-card>

            <button *ngIf="this.saleType == 'Complete' " mat-raised-button [disabled]="this.disablePaymentButtonOnSale" type="button" (click)="this.setDataForPaymentModel()" data-toggle="modal" data-target="#paymentModel" style="width: 100%; font-size: 20px" class="btn btn-green btn-lg text-white m-md-1 p-md-2">
                        <div class="row p-md-1 font-weight-bold">
                            <div class="col-md-6 text-left">Payment</div>
                            <div class="col-md-6 text-right">{{this.transactionDtoList.totalAmount | currency:'USD':'true'}}</div>
                        </div>
                    </button>
        </mat-card>


    </div>
</div>

<!-- Popover -->
<div #popover *ngIf="this.popoverStyle" class="popover fade bs-popover-left show" role="tooltip" [style]="this.popoverStyle">
    <div class="arrow" style="top: 82px;"></div>
    <h3 class="popover-header">
        Apply Discount For Sale
    </h3>
    <div class="popover-body">
        <!-- <button mat-raised-button class="action-button" (click)="this.setDiscountType('By Percentage')"> % </button>
            <button mat-raised-button class="action-button" (click)="this.setDiscountType('By Amount')"> $ </button> -->
        <div class="row">
            <div class="col-md-5">
                <mat-input-container>
                    <input matInput [(ngModel)]="this.discountValue" type="text" placeholder="Add Discount">
                </mat-input-container>
            </div>

            <div class="col-md-7">
                <mat-radio-group class="m-t-5" [(ngModel)]="this.discountType">
                    <mat-radio-button class="p-md-2 m-r-20" value="By Amount"> $</mat-radio-button>
                    <mat-radio-button class="p-md-2 m-r-20" value="By Percentage"> %</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center  p-md-3">
        <button mat-button class="btn-red action-button-table" (click)="this.calculateDiscount(this.discountValue)">
                            Apply
                </button>


    </div>
</div>
<!-- End of Discount pophover -->
<!-- Start of Product and Sale discard Pop up -->

<div class="modal fade" id="deleteProduct" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{this.popupHeader}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p>{{this.popupMessage}}</p>
            </div>
            <div class="modal-footer">

                <!-- This logic to reuse the model code cause i need popup for delete single product and also delete complete sale -->
                <button *ngIf="this.popupHeader == 'Delete Product' " type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteProduct()">Yes</button>
                <button *ngIf="this.popupHeader == 'Discard Sale' " type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.disgardCompleteSale()">Yes</button>
                <!-- TODO Add one more button for add product if it does not exists -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Product and Sale discard Pop up -->


<!-- Start Of payment model -->
<div class="modal fade" id="paymentModel" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Manage Payment</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-md-3">
                        <h3>PAY</h3>
                    </div>

                    <div class="col-md-2">
                        <input [(ngModel)]="this.payAmountTextBox" class="form-control" type="number" [style.color]="this.dueAmountForTransaction <=0 ? 'green' : 'red' ">
                    </div>


                    <div class="col-md-4">
                        <h3>DUE AMOUNT:</h3>
                    </div>

                    <div class="col-md-3">
                        <h3 [style.color]="this.dueAmountForTransaction <=0 ? 'green' : 'red' ">$ {{this.dueAmountForTransaction | number:'1.2-2'}}</h3>
                    </div>

                </div>

                <div *ngIf="this.paymentObjectForPaymentSellTable.length > 0" class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Payment Type</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let payment of this.paymentObjectForPaymentSellTable">
                                <td>{{payment.paymentType}}</td>
                                <td>$ {{payment.paymentAmount}}</td>
                                <td (click)="this.deletePaymentFromPaymentModel(payment)">
                                    <i class="fa fa-trash"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="row" style="margin-top: 30px">
                    <div class="col-lg-3">
                        <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash',this.payAmountTextBox)" [disabled]="this.disablePaymentButtons">Cash</button>
                    </div>

                    <div class="col-lg-3">
                        <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Credit',this.payAmountTextBox)" [disabled]="this.disablePaymentButtons">Credit</button>
                    </div>

                    <div class="col-lg-3">
                        <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Debit',this.payAmountTextBox)" [disabled]="this.disablePaymentButtons">Debit</button>
                    </div>

                    <div class="col-lg-3">
                        <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Check',this.payAmountTextBox)" [disabled]="this.disablePaymentButtons">Check</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px">

                    <div class="col-md-2">
                        <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 5)" [disabled]="this.disablePaymentButtonsWithAmount">$5</button>
                    </div>

                    <div class="col-md-2">
                        <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 10)" [disabled]="this.disablePaymentButtonsWithAmount">$10</button>
                    </div>

                    <div class="col-md-2">
                        <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 20)" [disabled]="this.disablePaymentButtonsWithAmount">$20</button>
                    </div>

                    <div class="col-md-2">
                        <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 25)" [disabled]="this.disablePaymentButtonsWithAmount">$25</button>
                    </div>

                    <div class="col-md-2">
                        <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 50)" [disabled]="this.disablePaymentButtonsWithAmount">$50</button>
                    </div>

                    <div class="col-md-2">
                        <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 100)" [disabled]="this.disablePaymentButtonsWithAmount">$100</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px">

                    <div class="col-md-3">
                        <button (click)="this.setPaymentDto('OnAccount', this.payAmountTextBox)" mat-raised-button class="secondary-button" [disabled]="this.disableOnAccountButtons">On Account</button>
                    </div>

                    <div class="col-md-3">
                        <button mat-raised-button class="secondary-button" [disabled]="this.disableStoreCreditButtons" (click)="this.setPaymentDto('StoreCredit', this.selectedCustomer.storeCredit)">Store Credit</button>
                    </div>

                    <div class="col-md-3">
                        <button mat-raised-button class="secondary-button" [disabled]="this.disableLoyaltyButton" (click)="this.setPaymentDto('Loyalty', this.selectedCustomer.loyalty)">Loyalty</button>
                    </div>

                    <div class="col-md-3">
                        <button mat-raised-button class="secondary-button" (click)="this.setPaymentDto('Gift Card',this.payAmountTextBox)" [disabled]="this.disablePaymentButtons">Gift Card</button>
                    </div>
                </div>


                <!-- <div class="row" style="margin-top: 30px">
                        <h5 style="margin-left: 15px;">Tip Amount:</h5>
                        <div class="col-md-12">
                            <input [(ngModel)]="this.tipAmount" class="form-control form-control-lg" type="number" placeholder="Please Enter Tip Amount">
                        </div>
                    </div> -->

                <div class="row" style="margin-top: 30px">
                    <div class="col-md-12">
                        <input [(ngModel)]="this.transactionNotes" class="form-control form-control-lg" type="text" placeholder="Add Sales Notes">
                    </div>
                </div>

                <div class="row" style="margin-top: 30px">
                    <div class="col-md-3">

                    </div>

                    <div class="col-md-6">
                        <button mat-raised-button [ngClass]="{'primary-button': this.saleType == 'Complete', 'danger-button': this.saleType == 'Return' }" (click)="this.completeSale()" [disabled]="this.disableCompleteSaleButton">Complete Sale</button>
                    </div>

                    <div class="col-md-3">

                    </div>
                </div>

                <div class="row" style="margin-top: 30px" *ngIf="null != this.printTransactionDto">
                    <div class="col-md-3">

                    </div>

                    <div class="col-md-6">
                        <button mat-raised-button [ngClass]="{'primary-button': this.saleType == 'Complete', 'danger-button': this.saleType == 'Return' }" (click)="this.printReciept()" data-dismiss="modal" data-toggle="modal">Print Reciept</button>
                    </div>

                    <div class="col-md-3">

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="this.clearAllDateAfterTransactionComplete()">Close</button>
            </div>

        </div>


    </div>

</div>
<!-- End of Payment Pop up -->

<!-- Start of Customer Details Model -->

<div class="modal fade" id="customerDetailsModel" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Customer Details</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div *ngIf="this.selectedCustomer != null " class="modal-body">
                <ul class="customer-detials-popup-ul">
                    <li class="customer-detials-popup-li">
                        <div class="customer-detials-popup-div">
                            No Of Eyebrow
                        </div>
                        <div class="customer-detials-popup-div">
                            {{this.selectedCustomer.noOfEyebrow}}
                        </div>
                    </li>
                    <li class="customer-detials-popup-li">
                        <div class="customer-detials-popup-div">
                            Loyalty
                        </div>
                        <div class="customer-detials-popup-div">
                            {{this.selectedCustomer.loyalty | currency:'USD':'true'}}
                        </div>
                    </li>
                    <li class="customer-detials-popup-li">
                        <div class="customer-detials-popup-div">
                            Store Credit
                        </div>
                        <div class="customer-detials-popup-div">
                            {{this.selectedCustomer.storeCredit | currency:'USD':'true'}}
                        </div>
                    </li>
                </ul>

                <ul class="customer-detials-popup-ul">
                    <li class="customer-detials-popup-li">
                        <div class="customer-detials-popup-div">
                            Customer Notes:
                        </div>
                        <div class="customer-detials-popup-div">
                            {{this.selectedCustomer.customerNote}}
                        </div>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>


    </div>

</div>
<!-- End of Customer Details Model -->