<!-- <div class="row" *ngIf="this.productList && this.productList.length > 0"> -->
<div class="row">
  <div class="col-md-9" style="padding: 0px;">
    <mat-card>
      <div class="row">
        <div class="align-self-center col-md-7" style="max-height: 500px !important;">

          <p-autoComplete id="productsearch" [(ngModel)]="this.productForSearchBox" class="full-width m-1" [suggestions]="product"
            placeholder="Scan or Search Product" (completeMethod)="filterProducts($event)" name="test" [minLength]="3" (keyup.enter)="submitProduct(productForSearchBox)"
            (onSelect)="this.selectProductFromSearch(productForSearchBox)" field="description">
            <ng-template>
              <span style="max-width:500px !important">
              </span>
            </ng-template>
          </p-autoComplete>
          <!-- <button (click)="this.testFocus()">Click me</button> -->

        </div>
        <!-- <div class="col-lg-0"></div> -->
        <div class="col-md-5 d-flex justify-content-end">
          <!-- Buttons go here  -->
          <button (click)="this.parkSale()" class="bg-primary text-white action-button m-1" mat-raised-button [disabled]="this.disablePaymentButtonOnSale">
            <span>
              <i class="fa fa-history">
                Park Sale
              </i>
            </span>
          </button>
          <button class="bg-danger text-white action-button m-1" mat-raised-button data-toggle="modal" data-target="#deleteProduct"
            (click)="this.setHeaderAndMessageForDisgardPopup()" [disabled]="this.disablePaymentButtonOnSale">
            <span>
              <i class="fa fa-trash">
                Discard Sale
              </i>
            </span>
          </button>
          <button class="bg-primary text-white  action-button m-1" mat-raised-button>
            <span>
              <i class="fa fa-th">
                Show Grid
              </i>
            </span>
          </button>
          <!-- <button class="bg-primary text-white  action-button m-1" mat-raised-button (click)="this.openSellCustomerView()">
                        <span>
                            <i class="fa fa-user">
                                Customer View
                            </i>
                        </span>
                    </button> -->
        </div>
      </div>
      <!-- <div class="row m-2">
                <app-receipt [data]="this.recieptData"></app-receipt>
            </div> -->
    </mat-card>
    <!-- <br/> -->
    <mat-card style="padding-top: 5px;">
      <!-- <mat-card-title></mat-card-title> -->
      <mat-card-content>
        <div class="row p-md-3">





          <!-- Product Table -->
          <p-table [value]="this.transactionLineItemDaoList" (onEditComplete)="updateLineItemDetails($event)" [scrollable]="true" scrollHeight="450px" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="width:15%; height: 40px;">ProductNo</th>
                <th style="width:45%">Description</th>
                <th>Quantity</th>
                <th>Retail</th>
                <th>RetWtDis</th>
                <th>Stock</th>
                <th>Total</th>
                <th style="width:5%">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-lineItem let-columns="columns">
              <tr>
                <td  style="width:15%; height: 40px;">{{lineItem.productNo}}</td>
                <td style="width:45%" [pEditableColumn]="lineItem" [pEditableColumnField]="'description'">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input type="text" [(ngModel)]="lineItem.description">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{lineItem.description}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td [pEditableColumn]="lineItem" [pEditableColumnField]="'saleQuantity'">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input type="number" [(ngModel)]="lineItem.saleQuantity">
                    </ng-template>
                    <ng-template pTemplate="output">
                      <div id="lineitem{{lineItem.productNo}}" [ngClass]="{'quantity-updated': lineItem.quantityUpdated }">
                        {{lineItem.saleQuantity}}
                      </div>
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>{{lineItem.retail}}</td>
                <td [pEditableColumn]="lineItem" [pEditableColumnField]="'retailWithDiscount'">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input type="number" [(ngModel)]="lineItem.retailWithDiscount">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{lineItem.retailWithDiscount}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>{{lineItem.quantity}}</td>
                <td>{{lineItem.totalProductPrice}}</td>
                <td style="width:5%">
                  <button mat-button class="btn-red action-button-table col-button" mat-button (click)="this.setProductForDelete(lineItem)"
                    data-toggle="modal" data-target="#deleteProduct">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>

              </tr>
            </ng-template>
          </p-table>










          <!-- //THIS IS OLD P-TABLE WORKING CODE DONT REMOVE THIS PLEASE. -->

          <!-- <p-dataTable [value]="this.transactionLineItemDaoList" scrollable="true" [responsive]="true" scrollHeight="400px" [editable]="true"
                        (onEditComplete)="updateLineItemDetails($event)">
                        <p-header>Product Sale Table</p-header>

                        <p-column field="productNo" header="ProductNo" [style]="{'width':'15%','text-align':'center', 'overflow':'visible'}"></p-column>
                        <p-column field="description" header="Description" [style]="{'width':'45%','text-align':'center', 'overflow':'visible'}"
                            [editable]="true"></p-column>
                        <p-column field="saleQuantity" header="Quantity" [editable]="true">
                            <ng-template let-product="rowData" pTemplate="body">
                                <div id="lineitem{{product.productNo}}" [ngClass]="{'quantity-updated': product.quantityUpdated }">
                                    {{product.saleQuantity}}
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="retail" header="Retail"></p-column>
                        <p-column field="retailWithDiscount" header="RetWtDis" [editable]="true"></p-column>
                        <p-column field="quantity" header="Stock"></p-column>
                        <p-column field="totalProductPrice" header="Total"></p-column>
                        <p-column header="" styleClass="col-button" [style]="{'width':'5%','text-align':'center', 'overflow':'visible'}">

                            <ng-template let-product="rowData" pTemplate="body">
                                <button mat-button class="btn-red action-button-table" mat-button (click)="this.setProductForDelete(product)" data-toggle="modal"
                                    data-target="#deleteProduct">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </ng-template>
                        </p-column>


                    </p-dataTable> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-3">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </span>
            <p-autoComplete id="customerSearch" [(ngModel)]="this.selectedCustomer" [field]="'name'" [suggestions]="filteredCustomer"
              (completeMethod)="this.filterCustomers($event)" class="full-width" [minLength]="1" (keyup.enter)="this.submitCustomer()"
              (onClear)="this.removeCustomerOnSale()">
              <ng-template let-c pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                  <span >{{c.name}} &ensp;</span>
                  <span>{{c.phoneNo}}</span>
                </div>
              </ng-template>

            </p-autoComplete>

          </div>
        </div>
        <br/>
        <div *ngIf="this.selectedCustomer">
          <table class="table table-bordered customer">
            <tbody>
              <tr>
                <td>
                  <dl class="row">
                    <dt>Name:</dt>
                    <dd>{{this.selectedCustomer.name}}</dd>
                  </dl>
                </td>
                <td>
                  <dl class="row">
                    <dt>Phone:</dt>
                    <dd>{{this.selectedCustomer.phoneNo}}</dd>
                  </dl>
                </td>
              </tr>
              <tr>
                <td>
                  <dl class="row">
                    <dt>Balance:</dt>
                    <dd>{{this.selectedCustomer.balance | currency:'USD':'true'}}</dd>
                  </dl>
                </td>
                <td>
                  <dl class="row">
                    <dt>Credit:</dt>
                    <dd>{{this.selectedCustomer.storeCredit | currency:'USD':'true'}}</dd>
                  </dl>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input type="text>" class="form-control" placeholder="Customer Notes" [(ngModel)]="this.selectedCustomer.customerNote">
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="sales-total p-md-4">

          <dl class="row">
            <dt>Sub-total</dt>
            <dd>{{this.transactionDtoList.subtotal | currency:'USD':'true'}}</dd>
          </dl>
          <dl class="row">
            <dt>
              <a #discount id="discount-popover" href="javascript:void(0)" (click)="this.showPopover(discount)">
                Discount
              </a>
            </dt>
            <dd>{{this.totalTransactionDiscount | currency:'USD':'true'}}</dd>
          </dl>
          <dl class="row">
            <dt>
              <a href="javascript:void(0)" (click)="this.manageTaxForTransaction()">
                Tax ({{this.taxPercent}}%)
              </a>
            </dt>
            <!-- <dt *ngIf="this.taxPercent == 0">
                            <a  href="javascript:void(0)" (click)="this.taxPercent = this.storeDetails.tax">
                                No Tax
                            </a>
                        </dt> -->
            <dd>{{this.transactionDtoList.tax | currency:'USD':'true'}}</dd>
          </dl>
          <dl class="row">
            <dt>Quantity</dt>
            <dd>{{this.transactionDtoList.quantity}}</dd>
          </dl>
          <dl class="row" *ngIf="this.selectedCustomer != null && this.selectedCustomer.balance > 0">
            <dt>Pre Balance</dt>
            <dd>
              <a data-target="#pendingInvoice" data-toggle="modal" id="MainNavHelp" href="#pendingInvoice">{{this.selectedCustomer.balance | currency:'USD':'true'}}</a>
            </dd>
          </dl>
          <dl class="row">
            <dt>Shipping</dt>
            <dd>
              <input (keyup.enter)="this.setTransactionDtoList()" style="width: 65px;" type="number" class="form-control" [(ngModel)]="this.shippingAmount">
            </dd>
          </dl>
          <dl class="row">
            <dt>Total</dt>
            <dd>{{this.transactionDtoList.totalAmount | currency:'USD':'true'}}</dd>
          </dl>
        </div>
        <button *ngIf="this.saleType == 'Complete' " mat-raised-button [disabled]="this.disablePaymentButtonOnSale" type="button"
          (click)="this.setDataForPaymentModel()" data-toggle="modal" data-target="#paymentModel" style="width: 100%; font-size: 20px"
          class="btn btn-green btn-lg text-white m-md-1 p-md-2">
          <div class="row p-md-1 font-weight-bold">
            <div class="col-md-6 text-left">Payment</div>
            <div class="col-md-6 text-right">{{this.transactionDtoList.totalAmount | currency:'USD':'true'}}</div>
          </div>
        </button>



      </mat-card-content>
    </mat-card>

  </div>
</div>

<!-- Start of Product Variant Popup -->
<div class="modal fade" id="productVariantPopup" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please Select Product Variant Below</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p-dataTable [value]="this.productPopupVariantList" selectionMode="single" dataKey="productNo" (onRowSelect)="onVariantSelect($event)"
          scrollable="true" scrollHeight="500px" [responsive]="true">
          <p-column field="productNo" header="Product No"></p-column>
          <p-column field="variant1" header="Variant1"></p-column>
          <p-column field="value1" header="Value1"></p-column>
          <p-column field="variant2" header="Variant2"></p-column>
          <p-column field="value2" header="Value2"></p-column>
          <p-column field="variant3" header="Variant3"></p-column>
          <p-column field="value3" header="Value3"></p-column>
          <p-column field="tier1" header="Retail Tier">

            <ng-template let-product="rowData" pTemplate="body">
              {{product.tier1}} , {{product.tier2}} , {{product.tier3}}
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
      <div class="modal-footer">

        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteCustomer()">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
      </div>
    </div>
  </div>
</div>
<!-- End of Product Variant Popup -->

<!-- Popover -->
<div #popover *ngIf="this.popoverStyle" class="popover fade bs-popover-left show" role="tooltip" [style]="this.popoverStyle">
  <div class="arrow" style="top: 82px;"></div>
  <h3 class="popover-header">
    Apply Discount For Sale
  </h3>
  <div class="popover-body">
    <!-- <button mat-raised-button class="action-button" (click)="this.setDiscountType('By Percentage')"> % </button>
        <button mat-raised-button class="action-button" (click)="this.setDiscountType('By Amount')"> $ </button> -->
    <div class="row">
      <div class="col-md-5">
        <mat-input-container>
          <input matInput [(ngModel)]="this.discountValue" type="text" placeholder="Add Discount">
        </mat-input-container>
      </div>
      <div class="col-md-7">
        <mat-radio-group class="m-t-5" [(ngModel)]="this.discountType">
          <mat-radio-button class="p-md-2 m-r-20" value="By Amount"> $</mat-radio-button>
          <mat-radio-button class="p-md-2 m-r-20" value="By Percentage"> %</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center  p-md-3">
    <button mat-button class="btn-red action-button-table" (click)="this.calculateDiscount(this.discountValue)">
      Apply
    </button>


  </div>
</div>
<!-- End of Discount pophover -->




<!-- Start of Product and Sale discard Pop up -->

<div class="modal fade" id="deleteProduct" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{this.popupHeader}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <p>{{this.popupMessage}}</p>
      </div>
      <div class="modal-footer">

        <!-- This logic to reuse the model code cause i need popup for delete single product and also delete complete sale -->
        <button *ngIf="this.popupHeader == 'Delete Product' " type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteProduct()">Yes</button>
        <button *ngIf="this.popupHeader == 'Discard Sale' " type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.disgardCompleteSale()">Yes</button>
        <!-- TODO Add one more button for add product if it does not exists -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- End of Product and Sale discard Pop up -->


<!-- Start Of payment model -->
<div class="modal fade" id="paymentModel" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Manage Payment</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="this.clearAllDateAfterTransactionComplete()">&times;</button>

      </div>
      <div class="modal-body">

        <div class="row">

          <div class="col-md-2">
            <h3>PAY</h3>
          </div>

          <div class="col-md-4">
            <input [(ngModel)]="this.payAmountTextBox" class="form-control" type="number" [style.color]="this.dueAmountForTransaction <=0 ? 'green' : 'red' ">
          </div>


          <div class="col-md-3">
            <h3>DUE AMOUNT: </h3>
          </div>

          <div class="col-md-3">
            <h3 [style.color]="this.dueAmountForTransaction <=0 ? 'green' : 'red' ">$ {{this.dueAmountForTransaction | number:'1.2-2'}}</h3>
          </div>

        </div>

        <div *ngIf="this.paymentDaoList.length > 0" class="row">
          <table class="table">
            <thead>
              <tr>
                <th>Payment Type</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let payment of this.paymentDaoList">
                <td>{{payment.type}}</td>
                <td>$ {{payment.amount}}</td>
                <td (click)="this.deletePaymentFromPaymentModel(payment)">
                  <i class="fa fa-trash"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="row" style="margin-top: 30px">
          <div class="col-md-3">
            <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash',this.payAmountTextBox)" [disabled]="this.disablePaymentButtons">CASH</button>
          </div>

          <div class="col-md-3">
            <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Credit',this.payAmountTextBox)" [disabled]="this.disablePaymentButtons">CREDIT</button>
          </div>

          <div class="col-md-3">
            <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Check',this.payAmountTextBox)" [disabled]="this.disablePaymentButtons">CHECK</button>
          </div>
          <div class="col-md-3">
            <button mat-raised-button class="secondary-button" [disabled]="this.disableStoreCreditButtons" (click)="this.setPaymentDto('Store Credit', this.selectedCustomer.storeCredit)">STORE CREDIT</button>

            <!-- <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('DEBIT',this.payAmountTextBox)" [disabled]="true">Debit</button> -->
          </div>
        </div>
        <div class="row" style="margin-top: 30px">

          <div class="col-md-2">
            <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 10)" [disabled]="this.disablePaymentButtonsWithAmount">$10</button>
          </div>

          <div class="col-md-2">
            <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 20)" [disabled]="this.disablePaymentButtonsWithAmount">$20</button>
          </div>

          <div class="col-md-2">
            <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 50)" [disabled]="this.disablePaymentButtonsWithAmount">$50</button>
          </div>

          <div class="col-md-2">
            <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 100)" [disabled]="this.disablePaymentButtonsWithAmount">$100</button>
          </div>

          <div class="col-md-2">
            <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 500)" [disabled]="this.disablePaymentButtonsWithAmount">$500</button>
          </div>

          <div class="col-md-2">
            <button mat-raised-button class="primary-button" (click)="this.setPaymentDto('Cash', 1000)" [disabled]="this.disablePaymentButtonsWithAmount">$1000</button>
          </div>
        </div>
        <div class="row" style="margin-top: 30px">

          <!-- <div class="col-md-3">
                        <button (click)="this.setPaymentDto('OnAccount', this.payAmountTextBox)" mat-raised-button class="secondary-button" [disabled]="this.disableOnAccountButtons">On Account</button>
                    </div>

                    <div class="col-md-3">
                        <button mat-raised-button class="secondary-button" [disabled]="this.disableStoreCreditButtons" (click)="this.setPaymentDto('StoreCredit', this.selectedCustomer.storeCredit)">Store Credit</button>
                    </div>

                    <div class="col-md-3">
                        <button mat-raised-button class="secondary-button" [disabled]="true">Loyalty</button>
                    </div>

                    <div class="col-md-3">
                        <button mat-raised-button class="secondary-button" [disabled]="true">Layby</button>
                    </div> -->
        </div>

        <div class="row" style="margin-top: 30px">
          <div class="col-md-12">
            <input [(ngModel)]="this.transactionNotes" class="form-control form-control-lg" type="text" placeholder="Add Sales Notes">
          </div>
        </div>

        <div class="row" style="margin-top: 30px">
          <div class="col-md-3">

          </div>

          <div class="col-md-6">
            <button mat-raised-button [ngClass]="{'primary-button': this.saleType == 'Complete' || 'Pending', 'danger-button': this.saleType == 'Return' }"
              (click)="this.completeSale()" [disabled]="this.disableCompleteSaleButton">COMPLETE SALE</button>
          </div>

          <div class="col-md-3">

          </div>
        </div>

        <div class="row" style="margin-top: 30px" *ngIf="null != this.printTransactionDto">
          <div class="col-md-3">

          </div>

          <div class="col-md-6">
            <button mat-raised-button [ngClass]="{'primary-button': this.saleType == 'Complete' || 'Pending', 'danger-button': this.saleType == 'Return' }"
              (click)="this.printReciept()" data-dismiss="modal" data-toggle="modal">PRINT RECEIPT</button>
          </div>

          <div class="col-md-3">

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="this.clearAllDateAfterTransactionComplete()">Close</button>
      </div>

    </div>


  </div>

</div>
<!-- End of Payment Pop up -->


<!-- Start of Invoce by Customer Popup -->
<div class="modal fade" id="pendingInvoice" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Customer Pending Invoice</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p-dataTable [value]="this.pendingInvoiceTransactionList" scrollable="true" scrollHeight="500px" [responsive]="true">
          <p-column field="transactionComId" header="Rec No" [style]="{'width': '10%'}"></p-column>
          <p-column field="date" header="Date" [sortable]="true" [style]="{'width': '10%'}"></p-column>
          <p-column field="time" header="Time" [style]="{'width': '10%'}"></p-column>
          <p-column field="customerFirstLastName" header="Name"></p-column>
          <p-column field="transactionBalance" header="Total" [style]="{'width': '15%'}"></p-column>
          <p-column field="status" header="Action" [style]="{'width': '20%'}">
            <ng-template let-transaction="rowData" pTemplate="body">
              <button class="btn-green action-b1268901272349
                            utton-table" mat-button data-dismiss="modal" (click)="this.setDataForPaymentModelForPendingInvoice(transaction)"
                data-toggle="modal" data-target="#paymentModel">
                <i class="" aria-hidden="true">
                  PAY
                </i>
              </button>
              <button class="btn-blue action-button-table" mat-button (click)="this.printReceipt(transaction)">
                <i class="fa fa-print" aria-hidden="true"></i>
              </button>
              <button class="btn-red action-button-table" mat-button (click)="this.sendEmail(transaction)">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
      <div class="modal-footer">

        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteCustomer()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
      </div>
    </div>
  </div>
</div>
