.customer td,
.customer th {
    padding: 10px 10px;
}

.customer dl.row {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    dt {
        text-align: left;
    }
    dd {
        text-align: right;
        margin: 0px;
    }
}