<div class="row p-md-3">
  <div class="col-lg-9">

      <!-- <br/> -->
      <mat-card>
          <!-- <mat-card-title></mat-card-title> -->
          <mat-card-content>
              <div class="row p-md-3">
                  <!-- Product Table -->
                  <p-dataTable [value]="this.transactionLineItemDaoList" scrollable="true" [responsive]="true" scrollHeight="300px" [editable]="true" >
                      <p-header>Product Sale Table</p-header>

                      <p-column field="productNo" header="ProductNo" [style]="{'width':'15%','text-align':'center', 'overflow':'visible'}"></p-column>
                      <p-column field="description" header="Description" [style]="{'width':'45%','text-align':'center', 'overflow':'visible'}"></p-column>
                      <p-column field="defaultQuantity" header="Quantity" [editable]="true">
                          <ng-template let-product="rowData" pTemplate="body">
                              <div id="lineitem{{product.productNo}}" [ngClass]="{'quantity-updated': product.quantityUpdated }">
                                  {{product.defaultQuantity}}
                              </div>
                          </ng-template>
                      </p-column>
                      <p-column field="retail" header="Retail" [editable]="true"></p-column>
                      <p-column field="retailWithDis" header="RetWtDis"></p-column>
                      <p-column field="quantity" header="Stock"></p-column>
                      <p-column field="totalProductPrice" header="Total"></p-column>
                      <!-- <p-column header="" styleClass="col-button" [style]="{'width':'5%','text-align':'center', 'overflow':'visible'}">

                          <ng-template let-product="rowData" pTemplate="body">
                              <button mat-button class="btn-red action-button-table" mat-button (click)="this.setProductForDelete(product)" data-toggle="modal" data-target="#deleteProduct">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                              </button>
                          </ng-template>
                      </p-column> -->


                  </p-dataTable>
              </div>
          </mat-card-content>
      </mat-card>

  </div>
  <div class="col-lg-3">
      <mat-card>
          <mat-card-content>
              <!-- <div class="row">
                  <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1">
                          <i class="fa fa-user-plus" aria-hidden="true"></i>
                      </span>
                      <p-autoComplete [(ngModel)]="this.selectedCustomer" [field]="'name'" [suggestions]="filteredCustomer" (completeMethod)="this.filterCustomers($event)" class="full-width" [minLength]="1" (keyup.enter)="this.submitCustomer()" (onClear)="this.removeCustomerOnSale()">
                          <ng-template let-c pTemplate="item">
                              <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                  <div style="width:32px;display:inline-block;margin:5px 0 2px 5px">{{c.name}}</div>
                                  <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{c.phoneNo}}</div>
                              </div>
                          </ng-template>

                      </p-autoComplete>

                  </div>
              </div> -->
              <br/>
              <div *ngIf="this.selectedCustomer">
                  <table class="table table-bordered customer">

                      <tbody>
                          <tr>
                              <td>
                                  <dl class="row">
                                      <dt class="">Name:</dt>
                                      <dd class="">{{this.selectedCustomer.name}}</dd>
                                  </dl>
                              </td>
                              <td>
                                  <dl class="row">
                                      <dt class="">Phone:</dt>
                                      <dd class="">{{this.selectedCustomer.phoneNo}}</dd>
                                  </dl>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <dl class="row">
                                      <dt class="">Balance:</dt>
                                      <dd class="">{{this.selectedCustomer.balance | currency:'USD':'true'}}</dd>
                                  </dl>
                              </td>
                              <td>
                                  <dl class="row">
                                      <dt class="">Credit:</dt>
                                      <dd class="">{{this.selectedCustomer.storeCredit | currency:'USD':'true'}}</dd>
                                  </dl>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <dl class="row">
                                      <dt class="">Spending:</dt>
                                      <dd class=""></dd>
                                  </dl>
                              </td>
                              <td>
                                  <dl class="row">
                                      <dt class="">Point:</dt>
                                      <dd class=""></dd>
                                  </dl>

                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>

              <!-- <div class="sales-total p-md-4">

                  <dl class="row">
                      <dt class="">Sub-total</dt>
                      <dd class="">{{this.transactionDtoList.subtotal | currency:'USD':'true'}}</dd>
                  </dl>
                  <dl class="row">
                      <dt class="">
                          <a #discount id="discount-popover" href="javascript:void(0)" (click)="this.showPopover(discount)">
                              Discount
                          </a>
                      </dt>
                      <dd class="">{{this.transactionDtoList.totalDiscount | currency:'USD':'true'}}</dd>
                  </dl>
                  <dl class="row">
                      <dt class="">Tax (7%)</dt>
                      <dd class="">{{this.transactionDtoList.tax | currency:'USD':'true'}}</dd>
                  </dl>
                  <dl class="row">
                      <dt class="">Quantity</dt>
                      <dd class="">{{this.transactionDtoList.quantity}}</dd>
                  </dl>
                  <dl class="row" *ngIf="this.selectedCustomer != null && this.selectedCustomer.balance > 0">
                      <dt class="">Pre Balance</dt>
                      <dd class="">{{this.selectedCustomer.balance | currency:'USD':'true'}}</dd>
                  </dl>
                  <dl class="row">
                      <dt class="">Total</dt>
                      <dd class="">{{this.transactionDtoList.totalAmount | currency:'USD':'true'}}</dd>
                  </dl>
              </div>
              <button mat-raised-button [disabled]="this.paymentButtonOnSale" type="button" (click)="this.setDataForPaymentModel()" data-toggle="modal" data-target="#paymentModel" style="width: 100%; font-size: 20px" class="btn btn-green btn-lg text-white m-md-1 p-md-2">
                  <div class="row p-md-1 font-weight-bold">
                      <div class="col-md-6 text-left">Payment</div>
                      <div class="col-md-6 text-right">{{this.transactionDtoList.totalAmount | currency:'USD':'true'}}</div>
                  </div>
              </button> -->
          </mat-card-content>
      </mat-card>


  </div>
</div>