.text-purple{
    // color: #a059b5;
    color: $purple; 
}

.text-cyan{
    // color: #44b773;
    color: $cyan;
}

.text-blue{ 
    // color: #56bad6
    color: $blue;
}
.text-orange{
    // color: #53c276;
    color: $orange;
}
.text-red{
    // color: #f576f5;
    color: $red;
}

.text-steel-pink{
    color: $steel-pink;
}

.text-carnation{
    color: $carnation;
}
.text-bittersweet{
    color: $bittersweet; 
}
.text-green{
    // color: #44b773;
    color: $green; 
}

.text-dark-gray{
    color: $gray-900;
}