<mat-card>
    <form *ngIf="this.form != null" [formGroup]="form">
        <mat-card-title>
            Edit Product
        </mat-card-title>
        <mat-card-content>

            <div class="row">

                <div class="col-md-6">

                    <!-- <div class="row m-2">
                        <div class="col-md-4 product-textbox">
                            <label>Product No:</label>
                        </div>

                        <div class="col-md-8 product-textbox">
                            <input type="text" class="form-control" formControlName="productNo" placeholder="Please Enter ProductNo">
                            <div *ngIf="form.get('productNo').hasError('required') && form.get('productNo').touched" class="alert alert-danger">
                                *Required!!
                            </div>
                            <div *ngIf="form.get('productNo').hasError('pattern') && form.get('productNo').touched" class="alert alert-danger">
                                *Value Not Alloewd</div>
                        </div>
                    </div> -->
                
                    <div class="row m-2">
                        <div class="col-md-4 product-textbox">
                            <label class="control-label">Category Name:</label>
                        </div>
                        <div class="col-md-8 product-textbox">
                            <select class="form-control" formControlName="category">
                                      <option *ngFor="let category of categoryDto" [ngValue]= "category">
                                          {{category.name}}
                                          </option>
                                  </select>
                            <p *ngIf="form.get('category').hasError('required')" class="alert alert-danger">
                                *Required!!</p>
                        </div>
                    </div>

                    <div class="row m-2">
                            <div class="col-md-4 product-textbox">
                                <label class="control-label">Sub Category Name:</label>
                            </div>
                            <div class="col-md-8 product-textbox">
                                <select class="form-control" formControlName="category">
                                          <option *ngFor="let category of categoryDto" [ngValue]= "category">
                                              {{category.name}}
                                              </option>
                                      </select>
                                <p *ngIf="form.get('category').hasError('required')" class="alert alert-danger">
                                    *Required!!</p>
                            </div>
                        </div>

                    <div class="row m-2">

                        <div class="col-md-4 product-textbox">
                            <label class="control-label">Brand Name:</label>
                        </div>

                        <div class="col-md-8 product-textbox">
                            <select class="form-control" formControlName="brand" name="brand">
                                      <option *ngFor = "let brand of brandDto" [ngValue]="brand">
                                          {{brand.name}}
                                      </option>
                                  </select>
                            <p *ngIf="form.get('brand').hasError('required')" class="alert alert-danger">
                                *Required!!</p>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-md-4 product-textbox">
                            <label class="control-label">Vender Name:</label>
                        </div>
                        <div class="col-md-8 product-textbox">
                            <select class="form-control" formControlName="vendor" name="vendor">
                                      <option *ngFor = "let vendor of vendorDto" [ngValue]="vendor">
                                          {{vendor.name}}
                                          </option>
                                  </select>
                            <p *ngIf="form.get('vendor').hasError('required')" class="alert alert-danger">
                                *Required!!</p>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-md-4 product-textbox">
                            <label class="control-label"> Model Name:</label>
                        </div>
                        <div class="col-md-8 product-textbox">
                            <select class="form-control" formControlName="model" name="model">
                                      <option *ngFor = "let model of modelDto" [ngValue]="model">
                                          {{model.name}}
                                          </option>
                                  </select>
                        </div>
                    </div>

                </div>

                <!--End of left side Div-->

                <!--Start of Right Side DIV-->

                <div class="col-md-6">
                    <div class="row m-2">
                        <label class="col-md-4 control-label product-textbox">
                                    Retail Price:
                                </label>
                        <div class="col-md-8 product-textbox">
                            <input type="number" formControlName="retail" class="form-control">
                            <p *ngIf="form.get('retail').hasError('required') && form.get('retail').touched" class="alert alert-danger">
                                *Required!!</p>
                            <p *ngIf="form.get('retail').hasError('pattern') && form.get('retail').touched" class="alert alert-danger">
                                *Value Not Alloewd*</p>
                        </div>
                    </div>

                    <div class="row m-2">


                        <label class="col-md-4 control-label product-textbox">
                                Total Quantity:
                            </label>
                        <div class="col-md-8 product-textbox">
                            <input type="number" class="form-control" formControlName="quantity" placeholder="Please Enter Quantity" disabled="disabled">
                            <div *ngIf="form.get('quantity').hasError('pattern') && form.get('quantity').touched" class="alert alert-danger">
                                *Value Not Alloewd*</div>
                        </div>
                    </div>
                    <div class="row m-2">


                        <label class="col-md-4 control-label product-textbox">
                                ReOrder Quantity:
                                          </label>
                        <div class="col-md-8 product-textbox">
                            <input type="text" class="form-control" formControlName="minQuantity" placeholder="Please Enter Min-Quantity">
                            <div *ngIf="form.get('minQuantity').hasError('pattern') && form.get('minQuantity').touched" class="alert alert-danger">
                                *Value Not Alloewd*</div>
                        </div>
                    </div>

                    <!-- <div class="row m-2">

                        <div class="col-md-4 product-textbox">
                            <label class="control-label">Alternate No:</label>
                        </div>

                        <div class="col-md-8 product-textbox">
                            <input type="text" class="form-control" formControlName="alternetNo" placeholder="Please Enter Alternate No">
                        </div>
                    </div> -->
                    <!-- <div class="row m-2">


                        <label class="col-md-4 control-label product-textbox">
                                              Return Rule:
                                          </label>
                        <div class="col-md-8 product-textbox">
                            <select class="form-control">
                                      <option>No-Return-Allowed</option>
                                      <option>1 Day</option>
                                      <option>1 Week</option>
                                      <option>2 Week</option>
                                       <option>1 Month</option>
                                       <option>3 Months</option>
                                       <option>6 Months</option>
                                       <option>12 Months</option>
                                  </select>

                        </div>
                    </div> -->
                    <div class="row m-2">

                        <div class="col-md-12 product-textbox">
                            <div class="row">
                            <div class="checkbox col-md-4" >
                                <label>
                                        <input type="checkbox" formControlName="tax">
                                         Is Taxable
                                      </label>
                            </div>
                            <div class="checkbox col-md-4">
                                <label>
                                        <input type="checkbox" formControlName="ecommerce">
                                         Is Ecomerce
                                      </label>
                            </div>
                            <div class="checkbox col-md-4">
                                <label>
                                        <input type="checkbox" (click) = "showDialog()">
                                         Is Variant
                                      </label>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row m-2">

                            <div class="col-md-4 product-textbox">
                                <label class="control-label"> Description:</label>
                            </div>
    
                            <div class="col-md-8 product-textbox">
                                <textarea class="form-control" style="text-transform:uppercase" formControlName="description" placeholder="Please Enter Description" id="exampleFormControlTextarea1" rows="2"></textarea>

                                <!-- <input type="text" class="form-control" style="text-transform:uppercase" formControlName="description" placeholder="Please Enter Description"> -->
                                <p *ngIf="form.get('description').hasError('required') && form.get('description').touched" class="alert alert-danger">
                                    *Required!!</p>
                            </div>
                        </div>

                    <!-- <div class="row m-2">


                        <div class="col-md-12 product-textbox">
                            <div class="checkbox">
                                <label>
                                        <input type="checkbox" formControlName="ecommerce">
                                         Is Ecomerce
                                      </label>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="row m-2">

                        <div class="col-md-12 product-textbox">
                            <div class="checkbox">
                                <label>
                                        <input type="checkbox" (click) = "showDialog()">
                                         Is Variant
                                      </label>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="col-md-12 ">
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optradio">$ 0.63 Default Loyalty:
                                  </label> (based on the default Loyalty ratio of 50:1)
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="optradio">Customer Loyalty Of:</label>
                                    <input type="text" name="optradio">
                                </div>
                            </div> -->

                </div>
                <!-- end of row for right side-->
            </div>

            <!--End Main Row-->

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <div class = "my-md-2" style="display: flex; justify-content:space-between;">
                         <h4>Product Inventory Details</h4>
                        <button type="button" mat-raised-button class="bg-primary text-white action-button-lg" data-target="#addVariant" data-toggle="modal">
                            <i class="fa fa-plus-square" aria-hidden="true" label="Add"></i>
                                Add Variant
                        </button>
                    </div>
                   
               
                    <p-dataTable [value]="this.productVariantDto" [editable]="true" scrollable="true" [responsive]="true" scrollHeight="300px" (onEditComplete)="this.updateProductInventory($event)">
                        <p-column  field="productNo" header="ProductNo"></p-column>
                        <p-column field="variant1" header="Variant1" [editable]="true"></p-column>
                        <p-column field="value1" header="Value1"></p-column>
                        <p-column field="cost" header="Cost"></p-column>
                        <p-column field="retail" header="Retail"></p-column>
                        <p-column field="quantity" header="Quantity"></p-column>
                        
                        <p-column [style]="{'width': '20%'}" header="Action">
                            <ng-template let-product="rowData" pTemplate="body" class="m-auto">

                                <button class="btn-blue action-button-table" mat-button data-target="#addVariant" data-toggle="modal" (click) = "this.updateProductVariant(product)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            <button mat-button class="btn-red action-button-table" mat-button (click)="this.setProductToDelete(product)" data-toggle="modal" data-target="#deleteProduct">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            <button mat-button class="btn-green action-button-table" mat-button (click)="this.setProductForHistory(product)" data-toggle="modal" data-target="#productHistoryModel">
                                    <i class="fa fa-history" aria-hidden="true"></i>
                                </button>
                            <button mat-button class="btn-gray action-button-table" mat-button data-toggle="modal" data-target="#productHistoryModel">
                                    <i class="fa fa-barcode" aria-hidden="true"></i>
                                </button>

                            </ng-template>
                        </p-column>
                    </p-dataTable>

                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <!--Submit button Row-->
            <div class="d-flex p-md-3 justify-content-center">
                <!-- <button mat-raised-button class="bg-danger text-white m-2 action-button-lg" routerLink="/product/productTable">Cancel</button> -->
                <button mat-raised-button class="bg btn-green text-white m-2 action-button-lg" type="button" (click)="addProduct()" [disabled]="form.invalid">
                        <i class="fa fa-paper-plane" aria-hidden="true" ></i>
                        
                    Update Product</button>
            </div>

        </mat-card-footer>


        <!-- <div class="col-md-2 product-textbox">
                      <p><button [disabled]="form.invalid" (click)="addProduct(true)" class="btn btn-primary btn-block">Next</button></p>
                  </div> -->




    </form>

</mat-card>

<!-- Start of Delete Vendor Popup -->
<div class="modal fade" id="deleteProductInventory" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Product Inventory</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete This Product Inventory</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="this.deleteProductInventory()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Delete Vendor Popup -->

<!-- Start Of Add Variant Logic -->

<!-- Start of Invoce by Customer Popup -->
<div class="modal fade" id="addVariant" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Product Variant</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form *ngIf="this.variantForm != null" [formGroup]="this.variantForm">
                        <div class="row">
                         <div class="col-md-3">
                            <ul>
                                <li>
                                    <label>Product No
                                        <em>*</em>
                                    </label>
                                    <div>
                                        <input type="text" class="form-control" formControlName = "productNo">
                                    </div>
                                </li>
                            </ul>
                         </div>
                         <div class="col-md-3">
                                <ul>
                                        <li>
                                            <label>Cost Price
                                                <em>*</em>
                                            </label>
                                            <div>
                                                <input type="number" class="form-control" formControlName = "cost">
                                            </div>
                                        </li>
                                    </ul>
                         </div>
                         <div class="col-md-3">
                                <ul>
                                        <li>
                                            <label>Retail Price
                                                <em>*</em>
                                            </label>
                                            <div>
                                                <input type="number" class="form-control" formControlName = "retail">
                                            </div>
                                        </li>
                                    </ul>
                         </div>
                         <div class="col-md-3">
                                <ul>
                                        <li>
                                            <label>Quantity
                                                <em>*</em>
                                            </label>
                                            <div>
                                                <input type="number" class="form-control" formControlName = "quantity">
                                            </div>
                                        </li>
                                    </ul>
                         </div>
                         </div>
                         <div class="row">
                         <div class="col-md-3">
                            <ul>
                                <li>
                                        <label>Variant 1
                                                <em>*</em>
                                            </label>
                                </li>
                                <select class="form-control" formControlName = "variant1" (change) = "this.onVariantSelect($event)">
                                    <option *ngFor="let variant of this.variantDto">
                                        {{variant}}
                                    </option>
                                </select>
                                <input type="text" formControlName = "value1" class="form-control">
                                <!-- <select class="form-control" formControlName = "value1">
                                        <option *ngFor="let v of this.productVariantDetails">
                                            {{v.value}}
                                        </option>
                                    </select> -->
                            </ul>
                         </div>
                        </div>
                        <div class="row d-flex p-md-3 justify-content-center">
                                        <button mat-raised-button class="bg-danger text-white m-2 action-button-lg" data-dismiss="modal">Cancel</button>
                                        <button mat-raised-button class="bg btn-green text-white m-2 action-button-lg" type="submit" (click) = "this.addProductVariant()" data-dismiss="modal" [disabled]="this.variantForm.invalid">
                                            <i class="fa fa-paper-plane" aria-hidden="true" ></i>
                                                Add Variant
                                        </button>
                                        <button mat-raised-button class="bg btn-green text-white m-2 action-button-lg" type="submit" [disabled]="this.variantForm.invalid">
                                            <i class="fa fa-paper-plane" aria-hidden="true" ></i>
                                                Add & Clone
                                        </button>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>

<!-- End Of Add Variant Logic -->







<!--********************************* VERY IMPORTANT DO NOT DELET IT *********************************-->

<!-- DO NOT DELETE THIS -->

<!--START OF VARIANT POPUP-->

<!-- <p-dialog header="Product Variant Details" [(visible)]="displayDialog" [modal]="true" [responsive]="true">

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <select class="form-control">
                              <option *ngFor = "let variantName of productVariantDetailsDto">
                                  {{variantName}}
                                  </option>
                          </select>
            </div>

            <div class="col-md-3">
                <select class="form-control">
                                <option *ngFor = "let variantValue of productVariantDetailsByNameDto"> 
                                    {{variantValue.value}}
                                    </option>
                              </select>

            </div>

            <div class="col-md-2">
                <input type="text" class="form-control" [(ngModel)]="formProduct.cost" placeholder="Cost Price">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" [(ngModel)]="formProduct.markup" placeholder="Markup %">

            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" [(ngModel)]="formProduct.retail" placeholder="Retail Price">
            </div>
            <div class="col-md-1">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <select class="form-control">
                              <option *ngFor = "let variantName of productVariantDetailsDto">
                                  {{variantName}}
                                  </option>
                          </select>
            </div>

            <div class="col-md-3">
                <select class="form-control">
                                <option *ngFor = "let variantValue of productVariantDetailsByNameDto"> 
                                    {{variantValue.value}}
                                    </option>
                              </select>

            </div>

            <div class="col-md-2">
                <input type="text" class="form-control" [(ngModel)]="formProduct.cost" placeholder="Cost Price">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" [(ngModel)]="formProduct.markup" placeholder="Markup %">

            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" [(ngModel)]="formProduct.retail" placeholder="Retail Price">
            </div>
            <div class="col-md-1">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <p><button class="btn btn-primary btn-block">Add Product Variant</button></p>
            </div>
            <div class="col-md-3">
                <p><button class="btn btn-primary btn-block">Update Product Variant</button></p>
            </div>

        </div>
    </div>
</p-dialog> -->

<!--End Of variant logic-->