<div>
    <mat-card>
        <mat-card-title>
            <h3>
                Close Register
            </h3>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="closeRegisterForm">

                <div class="row p-md-3">
                    <div class="col-md-2">
                        <select class="form-control" [(ngModel)]="this.closeRegisterDropdown" (change)="this.getCloseRegisterDetails()">
                                  <option>Today</option>
                                  <option>Yesterday</option>
                                  <option>This Week</option>
                                  <option>Last Week</option>
                                  <option>This Month</option>
                                  <option>Last Month</option>
                                  <option>Last 3 Months</option>
                                  <option>Last 6 Months</option>
                                  <option>This Year</option>
                                  <option>Last Year</option>
                                  <option>Custom</option>
                                </select>

                    </div>

                    <div class="col-md-2">

                        <button matIcon>
                                <i class="fa fa-print fa-3x" aria-hidden="true"></i>
                            </button>
                    </div>
                </div>
                <div class="row p-md-3">
                    <!-- Start of left side of div for payment -->
                    <div class="col-md-6">

                        <div class="row product-textbox">
                            <div class="col-md-3">
                                <p>Payment Type</p>
                            </div>

                            <div class="col-md-3">
                                <p>Manual Count</p>
                            </div>

                            <div class="col-md-3">
                                <p>System Count</p>
                            </div>

                            <div class="col-md-3">
                                <p>Difference</p>
                            </div>
                        </div>

                        <div class="row close-row">

                            <div class="col-md-3">
                                <p>Cash</p>
                            </div>

                            <div class="col-md-3">
                                <input type="number" class="form-control" formControlName="closeCash">
                            </div>

                            <div class="col-md-3">
                                <input type="number" class="form-control" disabled="true" formControlName="reportCash">
                            </div>

                            <div class="col-md-3">
                                <input [style.color]="this.closeRegisterForm.get('differenceCash').value >=0 ? 'green' : 'red' " type="number" class="form-control" disabled="true" formControlName="differenceCash">
                            </div>

                        </div>

                        <div class="row close-row ">

                            <div class="col-md-3">
                                <p>Credit</p>
                            </div>

                            <div class="col-md-3">
                                <input type="number" class="form-control" formControlName="closeCredit">
                            </div>

                            <div class="col-md-3">
                                <input type="number" class="form-control" disabled="true" formControlName="reportCredit">
                            </div>

                            <div class="col-md-3">
                                <input [style.color]="this.closeRegisterForm.get('differenceCredit').value >=0 ? 'green' : 'red' " type="number" class="form-control" disabled="true" formControlName="differenceCredit">
                            </div>

                        </div>

                        <div class="row close-row ">

                            <div class="col-md-3">
                                <p>Debit</p>
                            </div>

                            <div class="col-md-3">
                                <input type="number" class="form-control" formControlName="closeDebit">
                            </div>

                            <div class="col-md-3">
                                <input type="number" class="form-control" disabled="true" formControlName="reportDebit">
                            </div>

                            <div class="col-md-3">
                                <input [style.color]="this.closeRegisterForm.get('differenceDebit').value >=0 ? 'green' : 'red' " type="number" class="form-control" disabled="true" formControlName="differenceDebit">
                            </div>

                        </div>

                        <div class="row close-row ">

                            <div class="col-md-3">
                                <p>Check</p>
                            </div>

                            <div class="col-md-3">
                                <input type="number" class="form-control" formControlName="closeCheck">
                            </div>

                            <div class="col-md-3">
                                <input type="number" class="form-control" disabled="true" formControlName="reportCheck">
                            </div>

                            <div class="col-md-3">
                                <input [style.color]="this.closeRegisterForm.get('differenceCheck').value >=0 ? 'green' : 'red' " class="form-control" disabled="true" type="number" formControlName="differenceCheck">
                            </div>

                        </div>

                        <div class="row close-row ">

                            <div class="col-md-3">
                                <p>Other Payment</p>
                            </div>
                            <div class="col-md-3">
                                <p>Store Credit</p>
                            </div>

                            <div class="col-md-3">
                                <p>On Account</p>
                            </div>

                            <div class="col-md-3">
                                <p>Loyalty</p>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" disabled="true" formControlName="storeCredit">
                            </div>

                            <div class="col-md-3">
                                <input type="text" class="form-control" disabled="true" formControlName="onAccount">
                            </div>

                            <div class="col-md-3">
                                <input type="text" class="form-control" disabled="true" formControlName="loyalty">
                            </div>



                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-md-3">
                                <p>Total With Tax</p>
                            </div>


                            <div class="col-md-3">
                                <input type="number" class="form-control" disabled="true" formControlName="closeTotalAmount">
                            </div>

                            <div class="col-md-3">
                                <input type="number" class="form-control" disabled="true" formControlName="reportTotalAmount">
                            </div>

                            <div class="col-md-3">
                                <input [style.color]="this.closeRegisterForm.get('differenceTotal').value >=0 ? 'green' : 'red' " type="number" class="form-control" disabled="true" formControlName="differenceTotal">
                            </div>

                        </div>

                        <hr>

                        <div class="row">

                            <div class="col-md-3">
                                <p>Total Without Tax</p>
                            </div>

                            <div class="col-md-3">
                                <p>Total Tax</p>
                            </div>

                            <div class="col-md-3">
                                <p>Total Discount</p>
                            </div>
                            <div class="col-md-3">
                                <p>Total Return</p>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-3">
                                <input type="number" class="form-control" disabled="true" formControlName="totalWithoutTax">
                            </div>

                            <div class="col-md-3">
                                <input type="number" class="form-control" disabled="true" formControlName="tax">
                            </div>

                            <div class="col-md-3">
                                <input style="color: green;" type="number" class="form-control" disabled="true" formControlName="totalDiscount">
                            </div>

                            <div class="col-md-3">
                                <input style="color: red;" type="number" disabled="true" class="form-control" formControlName="totalReturn">
                            </div>

                        </div>

                        <hr>




                    </div>
                    <!-- End of left side of div for payment -->

                    <!-- <div class="col-md-6">
                        <h4> Close Shift </h4>

                        <div class="row">

                            <div class="col-md-3">
                                <p>From User</p>
                            </div>

                            <div class="col-md-3">
                                <p>From System</p>
                            </div>

                            <div class="col-md-3">
                                <p>Difference</p>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-3">
                                <input type="text">
                            </div>

                            <div class="col-md-3">
                                <input type="text">
                            </div>

                            <div class="col-md-3">
                                <input type="text">
                            </div>

                        </div>

                        <div class="row">
                            <button> Close Shift</button>
                        </div>


                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Close Amount</th>
                                        <th>Difference</th>
                                        <th>Close By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <i class="fa fa-pencil"></i>
                                            <i class="fa fa-trash"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div> -->


                    <!-- Start of right side of div for money count -->
                    <!-- <div class="col-md-1">
                        <div class="row">

                            <div class="col-md-4">
                                <p>$100</p>
                            </div>

                            <div class="col-md-4">
                                <p>*</p>
                            </div>
                            <div class="col-md-4">
                                <input type="text">
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <p>$50</p>
                            </div>

                            <div class="col-md-4">
                                <p>*</p>
                            </div>
                            <div class="col-md-4">
                                <input type="text">
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <p>$20</p>
                            </div>

                            <div class="col-md-4">
                                <p>*</p>
                            </div>
                            <div class="col-md-4">
                                <input type="text">
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <p>$10</p>
                            </div>

                            <div class="col-md-4">
                                <p>*</p>
                            </div>
                            <div class="col-md-4">
                                <input type="text">
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <p>$5</p>
                            </div>

                            <div class="col-md-4">
                                <p>*</p>
                            </div>
                            <div class="col-md-4">
                                <input type="text">
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <p>$1</p>
                            </div>

                            <div class="col-md-4">
                                <p>*</p>
                            </div>
                            <div class="col-md-4">
                                <input type="text">
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-8">
                                <p>Total</p>
                            </div>

                            <div class="col-md-4">
                                <input type="text">
                            </div>

                        </div>
                    </div> -->
                    <!-- End of right side of div for money count -->



                </div>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <div class="d-flex align-items-center justify-content-center">
                <button mat-raised-button class="bg-primary text-white " (click)="this.saveCloseRegisterDetails()">Close Register</button>
            </div>
        </mat-card-footer>
    </mat-card>
</div>