
 <mat-card-title style="margin-top: 15px">
        <h4>Payment History</h4>
    </mat-card-title>

   
        <div class="row d-flex align-items-center">

                <div class="col-md-2">
                    <select class="form-control form-control" [(ngModel)]="this.salesHistoryDropdown" (change)="this.getPaymentHistoryDetails(this.salesHistoryDropdown)">
                        <option>Today</option>
                        <option>Yesterday</option>
                        <option>This Week</option>
                        <option>Last Week</option>
                        <option>This Month</option>
                        <option>Last Month</option>
                        <option>Last 3 Months</option>
                        <option>Last 6 Months</option>
                        <option>This Year</option>
                        <option>Last Year</option>
                        <option>Custom</option>
    
                    </select>
    
                </div>
                <div *ngIf="this.salesHistoryDropdown == 'Custom' " class="col-md-3 form-group d-flex align-items-center" [formGroup]="this.customDate">
    
                    <mat-form-field class="float-never col-md-6">
                        <input formControlName="fromDate" matInput [matDatepicker]="fromDate" placeholder="Start Date" [max]="this.currentDate">
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                    <label class="text-center">To</label>
                    <mat-form-field class="float-never col-md-6">
                        <input class="" formControlName="toDate" matInput [matDatepicker]="toDate" placeholder="End Date" [min]="this.customDate.get('fromDate').value" [max]="this.currentDate">
                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </mat-form-field>
                </div>
    
                <div class="col-md-2">
                    <select class="form-control" [(ngModel)]="this.searchByTransactionType" (change)="onTransactionTypeDropdownChoose()">
                        <option>All Transaction Status</option>
                        <option>Complete</option>
                        <option>Return</option>
                        <option>Void</option>
                        <option>Park</option>
                        <option>Pending</option>
                        <option>Online</option>
                    </select>
    
                </div>
    
    
                <div class="col-md-3">
                    <input [formControl]="this.searchByCustomerInputBox" class="form-control form-control" type="text" placeholder="Search By Customer Name Or PhoneNo">
    
                </div>
                <div class="col-md-2">
                    <input [formControl]="this.searchByReceiptNoInputBox" class="form-control form-control" type="text" placeholder="Search By Recipt Number">
    
                </div>
    
            </div>


<div class="row p-md-3">
    <table class="table table-hover table-bordered ">
        <thead class="thead-light">
            <th scope="col">Receipt No</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Phone No</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Paid Type</th>
            <th scope="col">Paid Amount</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Due Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let payment of this.paymentHistoryDetails">
                <td>{{payment.transactionComId}}</td>
                <td>{{payment.onlyDate}}</td>
                <td>{{payment.time}}</td>
                <td>{{payment.customerPhoneno}}</td>
                <td>{{payment.customerFirstLastName}}</td>
                <td>{{payment.paymentDao.type}}</td>
                <td>{{payment.paymentDao.amount}}</td>
                <td>{{payment.totalAmount}}</td>
                <td>{{payment.transactionBalance}}</td>

                <td>
                    <mat-chip-list>
                        <mat-chip [ngClass]="[payment.paymentDao.status == 'Complete' ? 'complete':'', payment.paymentDao.status == 'Pending' ? 'pending':'', payment.paymentDao.status == 'Return' ? 'return':'', payment.paymentDao.status == 'Void' ? 'void':'', payment.paymentDao.status == 'Park' ? 'park':'']"
                            selected="true">{{payment.paymentDao.status}}</mat-chip>
                    </mat-chip-list>
                </td>
                <td>


                    <button class="btn-blue action-button-table" mat-button (click)="this.printReceipt(payment)">
                            <i class="fa fa-print" aria-hidden="true"></i>
                        </button>
                    <button class="btn-green action-button-table" mat-button (click)='this.sendEmail(payment)'>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </button>

                    <!-- // Do not remove this, this is for park sales where i can redirect user to start the transaction. -->
                    <!-- <button *ngIf="transaction.status != 'Return' " class="btn-red action-button-table" mat-button [routerLink]="['/sell', {transactionComId: transaction.transactionComId}]"> -->
                    <button *ngIf=" payment.paymentDao.status == 'Complete' || payment.paymentDao.status == 'Pending' " class="btn-red action-button-table" mat-button (click)="this.setTransactoinToVoid(payment)" data-toggle="modal" data-target="#voidPayment">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </button>
                    <button *ngIf="payment.paymentDao.status == 'Park' || payment.status == 'Online' " class="btn-red action-button-table" mat-button [routerLink]="['/sell/sale', {transactionComId: payment.transactionComId}]">
                                <i class="fa fa-reply-all" aria-hidden="true"></i>
                        </button>
                </td>

            </tr>
        </tbody>

    </table>
    </div>

    <!-- Start of Void Payment -->
<!-- Start of Void Transacton -->

    <!-- End of Void Payment -->
